In [161]:
import numpy as np
import pandas as pd

### <p style="background-color:#78BAF0;color:black;font-size:25px;text-align:center;border-radius:35px 35px;border-style:solid;border-color:blue;">üîèM√¥ t·∫£ d·ªØ li·ªáu </p>


<br>1. Ti√™u ƒë·ªÅ: TI·ªÄN X·ª¨ L√ù D·ªÆ LI·ªÜU 
<br>2. Ngu·ªìn: CU·ªòC THI DATA GOT TALENT.
<br>3. K√≠ch th∆∞·ªõc: G·ªìm 4 sheet ch√≠nh ( 1 sheet l√† readme, 3 sheet bao g·ªìm b·∫£ng customer, b·∫£ng tickets v√† b·∫£ng films)
<br>4. Th√¥ng tin b·∫£ng :
- customer: Th√¥ng tin v·ªÅ kh√°ch h√†ng , bao g·ªìm 7 c·ªôt (customerid, DOB, Gender, address, Website, Job, Industry) v√† 4480 d√≤ng
- tickets : Th√¥ng tin v·ªÅ giao d·ªãch v√© , bao g√¥m 15 c·ªôt(customerid, orderid, saledate, ticketprice ,... ) v√† 35475 d√≤ng
- films : Th√¥ng tin v·ªÅ phim , bao g·ªìm 10 c·ªôt ( title,director,country,...) v√† 61 d√≤ng

### <p style="background-color:#78BAF0;color:black;font-size:25px;text-align:center;border-radius:35px 35px;border-style:solid;border-color:blue;">‚ú® N·ªôi dung ch√≠nh </p>
1. Th·ª±c hi·ªán ti·ªÅn x·ª≠ l√Ω v·ªõi b·∫£ng customer
  - 1.1. H√†m chuy·ªÉn ƒë·ªïi gi√° tr·ªã chu·∫©n h√≥a excel th√†nh d·∫°ng d·ªØ li·ªáu nƒÉm/th√°ng/ng√†y ·ªü c·ªôt DOB
  - 1.2. T·∫°o c·ªôt m·ªõi t√™n Tu·ªïi xem phim b·∫±ng vi·ªác l·∫•y (th√°ng5/2019) - d·ªØ li·ªáu c·ªßa c·ªôt DOB sau khi ƒë√£ chu·∫©n h√≥a
  - 1.3. G√°n c√°c missing value ·ªü c·ªôt industry th√†nh gi√° tr·ªã "NoJob"
  - 1.4. G√°n c√°c missing value ·ªü c·ªôt Website th√†nh gi√° tr·ªã "Kh√¥ng c√≥ d·ªØ li·ªáu"
  - 1.5. T·∫°o c·ªôt m·ªõi d·ª±a tr√™n d·ªØ li·ªáu c·ªßa c·ªôt Website , c·ªôt m·ªõi c√≥ t√™n "D·ªØ li·ªáu Web"
  - 1.6. X·ª≠ l√Ω c·ªôt address v√† t·∫°o ra 3 c·ªôt m·ªõi l√† "ƒê∆∞·ªùng","Qu·∫≠n" v√† "Th√†nh Ph·ªë"
  - 1.7. X·ª≠ l√Ω c√°c gi√° tr·ªã DOB b·ªã l·ªói sau khi chu·∫©n h√≥a d·ªØ li·ªáu 
  - 1.8. X√≥a c·ªôt ƒê∆∞·ªùng v√† xu·∫•t ra file excel
2. Th·ª±c hi·ªán ti·ªÅn x·ª≠ l√Ω v·ªõi b·∫£ng tickets
  - 2.1. L√†m vi·ªác v·ªõi c·ªôt orderid (ki·ªÉm tra tr√πng, ki·ªÉm tra missing value, g√°n l·∫°i c√°c gi√° tr·ªã missing value)
  - 2.2. L√†m vi·ªác v·ªõi c·ªôt cashier , nh·∫≠n ra c√°c v·∫•n ƒë·ªÅ ho·∫∑c nh·ªØng ƒëi·ªÉm th√∫ v·ªã c·ªßa c·ªôt cashier
  - 2.3. L√†m vi·ªác v·ªõi c·ªôt customerid , ki·ªÉm tra gi√° tr·ªã tr√πng l·∫∑p , ki·ªÉm tra null, ki·ªÉm tra format c·ªßa customerid
  - 2.4. L√†m vi·ªác v·ªõi c·ªôt popcorn , ki·ªÉm tra c√°c misssing value , g√°n c√°c missing value th√†nh "Website/Li√™n h·ªá t·∫°i qu·∫ßy"
  - 2.5. L√†m vi·ªác v·ªõi c·ªôt saledate, t√°ch c·ªôt saledate ra th√†nh 2 c·ªôt l√† saledate v√† saletime, trong ƒë√≥ saledate ch·ªâ ch·ª©a format gi√° tr·ªã (nƒÉm/th√°ng/ng√†y) v√† saletime ch·ª©a gi√° tr·ªã time. G√°n c√°c gi√° tr·ªã saledate null th√†nh c√°c gi√° tr·ªã ph√π h·ª£p v·ªõi d·ªØ li·ªáu
  - 2.6. L√†m vi·ªác v·ªõi c·ªôt ticket price , ki·ªÉm tra c√°c m·ª©c gi√° c·ªßa r·∫°p chi·∫øu , g√°n l·∫°i gi√° tr·ªã c·ªßa ticket price b·ªã l·ªói. Nh·∫≠n x√©t xem th·ª≠ c√°c m·ª©c gi√° ƒë·∫°i di·ªán cho v·∫•n ƒë·ªÅ g√¨, s·ª± kh√°c nhau gi·ªØa ch√∫ng l√† g√¨.
  - 2.7. L√†m vi·ªác v·ªõi c·ªôt ticketcode, ki·ªÉm tra null v√† ki·ªÉm tra c√°c gi√° tr·ªã tr√πng l·∫∑p , x·ª≠ l√Ω b·∫±ng vi·ªác thay th·∫ø l·∫°i c√°c gi√° tr·ªã tr√πng l·∫∑p
  - 2.8. L√†m vi·ªác v·ªõi c·ªôt saletime , g√°n l·∫°i c√°c missing value cho c·ªôt saletime l√† "Kh√¥ng x√°c ƒë·ªãnh r√µ"
  - 2.9. L√†m vi·ªác v·ªõi c·ªôt total , g√°n l·∫°i c√°c missing value c·ªßa c·ªôt total ƒë√∫ng v·ªõi format c·ªßa dataset, g√°n l·∫°i c√°c gi√° tr·ªã total b·ªã sai s√≥t do vi·ªác ticket price b·ªã sai 
  - 2.10. T·∫°o c·ªôt m·ªõi "C√°ch th·ª©c mua v√©" c√≥ 2 gi√° tr·ªã unique l√† "Online" v√† "Offline"
  - 2.11. Xu·∫•t ra file excel

In [162]:
excel_file = 'DATA SET - V√íNG 1 CU·ªòC THI DATA GOT TALENT 2023.xlsx'
sheets = ['customer', 'ticket','film']

# L√†m vi·ªác v·ªõi b·∫£ng customer

## ƒê·ªçc d·ªØ li·ªáu

In [163]:
customer = pd.read_excel(excel_file, sheet_name='customer')

In [164]:
customer.shape

(4479, 7)

In [165]:
customer.head()

,customerid,DOB,gender,address,Website,job,industry
0,0000000014,36268,N·ªØ,hoa khe quan thanh khe,KH0104|0345,student,computer
1,0000000034,35901,Nam,man thai,KH0104|0333,student,health service
2,0000000051,34319,Nam,que son quang nam,KH0104|0255,blue collar,economics
3,0000000081,36472,Nam,truong chinh,KH0104|0293,student,economics
4,0000000098,34608,Nam,c·∫©m l·ªá,KH0104|40580,blue collar,health service

In [166]:
customer.tail()

,customerid,DOB,gender,address,Website,job,industry
4474,KH9855766,34885,N·ªØ,"A, THUAN PHUOC,HAI CHAU, DA NANG",NaN,specialist,finance
4475,KH9958204,36892,N·ªØ,"Ph∆∞·ªõc M·ªπ, ƒêN",NaN,teenager,NaN
4476,WEBS00000043900,32311,N·ªØ,nguyen gian thanh,KHWEBS|00006890,specialist,construction
4477,WEBS00000044909,35316,N·ªØ,ng≈© h√†nh s∆°n,KHWEBS|00007899,blue collar,finance
4478,WEBS00000046015,37372,N·ªØ,Thanh Kh√™ T√¢y - Thanh Kh√™,KHWEBS|00009005,teenager,NaN

## L√†m vi·ªác v·ªõi c·ªôt customerid

In [167]:
print(customer["customerid"].dtype)

object

In [168]:
import re
def clean_custid(id):
    return re.sub(r'([.,!?;-]+)$', '', id)

customer['customerid'] = customer['customerid'].apply(clean_custid)

## L√†m vi·ªác v·ªõi c·ªôt DOB

In [169]:
print(customer["DOB"].dtype)

int64

In [170]:
print(customer["DOB"].isnull().any())
# Kh√¥ng c√≥ null

False

In [171]:
from datetime import datetime, timedelta

def convert_excel_date(excel_date_value):
    excel_start_date = datetime(1899, 12, 30) 
    corresponding_date = excel_start_date + timedelta(days=excel_date_value)
    return corresponding_date

excel_date_value = 36268 
date = convert_excel_date(excel_date_value)

# √Åp d·ª•ng h√†m chuy·ªÉn ƒë·ªïi l√™n c·ªôt 'DOB'
customer['DOB'] = customer['DOB'].apply(convert_excel_date)

# ƒê·ªãnh d·∫°ng l·∫°i ng√†y th√°ng n·∫øu c·∫ßn v√† ki·ªÉm tra l·∫°i ki·ªÉu d·ªØ li·ªáu
customer['DOB'] = customer['DOB'].apply(lambda x: x.strftime("%Y-%m-%d") if isinstance(x, datetime) else x)

# Hi·ªÉn th·ªã DataFrame sau khi ƒë√£ thay ƒë·ªïi
customer

,customerid,DOB,gender,address,Website,job,industry
0,0000000014,1999-04-18,N·ªØ,hoa khe quan thanh khe,KH0104|0345,student,computer
1,0000000034,1998-04-16,Nam,man thai,KH0104|0333,student,health service
2,0000000051,1993-12-16,Nam,que son quang nam,KH0104|0255,blue collar,economics
3,0000000081,1999-11-08,Nam,truong chinh,KH0104|0293,student,economics
4,0000000098,1994-10-01,Nam,c·∫©m l·ªá,KH0104|40580,blue collar,health service
...,...,...,...,...,...,...,...
4474,KH9855766,1995-07-05,N·ªØ,"A, THUAN PHUOC,HAI CHAU, DA NANG",NaN,specialist,finance
4475,KH9958204,2001-01-01,N·ªØ,"Ph∆∞·ªõc M·ªπ, ƒêN",NaN,teenager,NaN
4476,WEBS00000043900,1988-06-17,N·ªØ,nguyen gian thanh,KHWEBS|00006890,specialist,construction
4477,WEBS00000044909,1996-09-08,N·ªØ,ng≈© h√†nh s∆°n,KHWEBS|00007899,blue collar,finance
4478,WEBS00000046015,2002-04-26,N·ªØ,Thanh Kh√™ T√¢y - Thanh Kh√™,KHWEBS|00009005,teenager,NaN

In [172]:
# Convert 'DOB' to datetime
customer['DOB'] = pd.to_datetime(customer['DOB'], errors='coerce')

# Define the date for May 2019
may_2019 = datetime(2019, 5, 1)

# Calculate the new column 'Tu·ªïi xem phim' as the difference in years
customer['Tu·ªïi xem phim'] = customer['DOB'].apply(lambda x: (may_2019 - x).days // 365 if pd.notnull(x) else None)

# Display the DataFrame to verify the new column
customer

,customerid,DOB,gender,address,Website,job,industry,Tu·ªïi xem phim
0,0000000014,1999-04-18,N·ªØ,hoa khe quan thanh khe,KH0104|0345,student,computer,20.0
1,0000000034,1998-04-16,Nam,man thai,KH0104|0333,student,health service,21.0
2,0000000051,1993-12-16,Nam,que son quang nam,KH0104|0255,blue collar,economics,25.0
3,0000000081,1999-11-08,Nam,truong chinh,KH0104|0293,student,economics,19.0
4,0000000098,1994-10-01,Nam,c·∫©m l·ªá,KH0104|40580,blue collar,health service,24.0
...,...,...,...,...,...,...,...,...
4474,KH9855766,1995-07-05,N·ªØ,"A, THUAN PHUOC,HAI CHAU, DA NANG",NaN,specialist,finance,23.0
4475,KH9958204,2001-01-01,N·ªØ,"Ph∆∞·ªõc M·ªπ, ƒêN",NaN,teenager,NaN,18.0
4476,WEBS00000043900,1988-06-17,N·ªØ,nguyen gian thanh,KHWEBS|00006890,specialist,construction,30.0
4477,WEBS00000044909,1996-09-08,N·ªØ,ng≈© h√†nh s∆°n,KHWEBS|00007899,blue collar,finance,22.0
4478,WEBS00000046015,2002-04-26,N·ªØ,Thanh Kh√™ T√¢y - Thanh Kh√™,KHWEBS|00009005,teenager,NaN,17.0

In [173]:
df1_dtype_before = customer['Tu·ªïi xem phim'].dtype

# Convert 'Tu·ªïi xem phim' to integer
customer['Tu·ªïi xem phim'] = customer['Tu·ªïi xem phim'].astype('Int64')  # Using 'Int64' to handle NaN values

# Check the data type after conversion
customer_dtype_after = customer['Tu·ªïi xem phim'].dtype

In [174]:
customer

,customerid,DOB,gender,address,Website,job,industry,Tu·ªïi xem phim
0,0000000014,1999-04-18,N·ªØ,hoa khe quan thanh khe,KH0104|0345,student,computer,20
1,0000000034,1998-04-16,Nam,man thai,KH0104|0333,student,health service,21
2,0000000051,1993-12-16,Nam,que son quang nam,KH0104|0255,blue collar,economics,25
3,0000000081,1999-11-08,Nam,truong chinh,KH0104|0293,student,economics,19
4,0000000098,1994-10-01,Nam,c·∫©m l·ªá,KH0104|40580,blue collar,health service,24
...,...,...,...,...,...,...,...,...
4474,KH9855766,1995-07-05,N·ªØ,"A, THUAN PHUOC,HAI CHAU, DA NANG",NaN,specialist,finance,23
4475,KH9958204,2001-01-01,N·ªØ,"Ph∆∞·ªõc M·ªπ, ƒêN",NaN,teenager,NaN,18
4476,WEBS00000043900,1988-06-17,N·ªØ,nguyen gian thanh,KHWEBS|00006890,specialist,construction,30
4477,WEBS00000044909,1996-09-08,N·ªØ,ng≈© h√†nh s∆°n,KHWEBS|00007899,blue collar,finance,22
4478,WEBS00000046015,2002-04-26,N·ªØ,Thanh Kh√™ T√¢y - Thanh Kh√™,KHWEBS|00009005,teenager,NaN,17

## L√†m vi·ªác v·ªõi c·ªôt industry

In [175]:
industries = customer['industry'].unique()
print(industries)

['computer' 'health service' 'economics' 'education' 'construction'
 'social service' 'government agent' nan 'finance' 'engineering']

In [176]:
industries_null = customer[customer['industry'].isnull()]
industries_null

,customerid,DOB,gender,address,Website,job,industry,Tu·ªïi xem phim
16,0000000384,2002-11-22,N·ªØ,li√™n chi·ªÉu,KH0104|19665,teenager,NaN,16
17,0000000385,2002-12-02,N·ªØ,h√≤a vang,KH0104|20328,teenager,NaN,16
20,0000000509,2002-10-28,N·ªØ,Phan Dinh Phung,KH0104|0430,teenager,NaN,16
23,0000000576,2016-01-11,Nam,s∆°n tr√†,KH0104|0519,teenager,NaN,3
32,0000000765,2000-09-21,N·ªØ,Dien Bien Phu,KH0104|0047,teenager,NaN,18
...,...,...,...,...,...,...,...,...
4468,KH9743341,2000-02-25,Nam,Nui Thanh,NaN,teenager,NaN,19
4471,KH9830912,2000-03-07,N·ªØ,"ƒêI·ªÜN B√ÄN, QU·∫¢NG NAM",NaN,teenager,NaN,19
4473,KH984255,2000-05-04,Nam,"Hai Chau, Da Nang",NaN,teenager,NaN,19
4475,KH9958204,2001-01-01,N·ªØ,"Ph∆∞·ªõc M·ªπ, ƒêN",NaN,teenager,NaN,18
4478,WEBS00000046015,2002-04-26,N·ªØ,Thanh Kh√™ T√¢y - Thanh Kh√™,KHWEBS|00009005,teenager,NaN,17

In [177]:
df5 = customer[customer['industry'].isnull()]

# L·∫•y ra c·ªôt job cho df ƒë√£ l·ªçc 
jobs = df5['job']

# Ki·ªÉm tra c√°c gi√° tr·ªã trong c·ªôt job
print(jobs.unique()) 
print(jobs.value_counts())

['teenager']
job
teenager    1122
Name: count, dtype: int64

### G√°n gi√° tr·ªã null t∆∞∆°ng ·ª©ng v·ªõi c·ªôt industry l√† c·ªôt Nojob

In [178]:
NEW_VALUE = 'NoJob'

customer.loc[(customer['industry'].isnull()) & (customer['job'] == 'teenager'), 'industry'] = NEW_VALUE

In [179]:
teen_df = customer[customer['job'] == 'teenager']
teen_df

,customerid,DOB,gender,address,Website,job,industry,Tu·ªïi xem phim
16,0000000384,2002-11-22,N·ªØ,li√™n chi·ªÉu,KH0104|19665,teenager,NoJob,16
17,0000000385,2002-12-02,N·ªØ,h√≤a vang,KH0104|20328,teenager,NoJob,16
20,0000000509,2002-10-28,N·ªØ,Phan Dinh Phung,KH0104|0430,teenager,NoJob,16
23,0000000576,2016-01-11,Nam,s∆°n tr√†,KH0104|0519,teenager,NoJob,3
32,0000000765,2000-09-21,N·ªØ,Dien Bien Phu,KH0104|0047,teenager,NoJob,18
...,...,...,...,...,...,...,...,...
4468,KH9743341,2000-02-25,Nam,Nui Thanh,NaN,teenager,NoJob,19
4471,KH9830912,2000-03-07,N·ªØ,"ƒêI·ªÜN B√ÄN, QU·∫¢NG NAM",NaN,teenager,NoJob,19
4473,KH984255,2000-05-04,Nam,"Hai Chau, Da Nang",NaN,teenager,NoJob,19
4475,KH9958204,2001-01-01,N·ªØ,"Ph∆∞·ªõc M·ªπ, ƒêN",NaN,teenager,NoJob,18
4478,WEBS00000046015,2002-04-26,N·ªØ,Thanh Kh√™ T√¢y - Thanh Kh√™,KHWEBS|00009005,teenager,NoJob,17

## L√†m vi·ªác v·ªõi c·ªôt Website

In [180]:
print(customer["Website"].dtype)

object

In [181]:
print(customer["Website"].isnull().any())

True

=>> C√≥ null ·ªü c·ªôt Website

In [182]:
customer_web = customer[customer['Website'].isnull()]
customer_web

,customerid,DOB,gender,address,Website,job,industry,Tu·ªïi xem phim
7,0000000228,1995-11-09,Nam,"Ng≈© H√†nh S∆°n, ƒêN",NaN,specialist,health service,23
14,0000000328,1994-03-28,Nam,Le Tan Trung,NaN,blue collar,economics,25
33,0000000777,1994-12-07,N·ªØ,THANH KH√ä,NaN,specialist,economics,24
49,0000003225,1992-01-01,Nam,ng≈© h√†nh s∆°n,NaN,blue collar,social service,27
57,0000003363,1997-04-10,Nam,ƒê·ªêNG ƒêA,NaN,student,government agent,22
...,...,...,...,...,...,...,...,...
4471,KH9830912,2000-03-07,N·ªØ,"ƒêI·ªÜN B√ÄN, QU·∫¢NG NAM",NaN,teenager,NoJob,19
4472,KH9834570,1997-01-11,Nam,"Ngu Hanh Son, Da Nang",NaN,student,social service,22
4473,KH984255,2000-05-04,Nam,"Hai Chau, Da Nang",NaN,teenager,NoJob,19
4474,KH9855766,1995-07-05,N·ªØ,"A, THUAN PHUOC,HAI CHAU, DA NANG",NaN,specialist,finance,23
4475,KH9958204,2001-01-01,N·ªØ,"Ph∆∞·ªõc M·ªπ, ƒêN",NaN,teenager,NoJob,18

In [183]:
customer['Website'] = customer['Website'].fillna('Kh√¥ng c√≥ d·ªØ li·ªáu')
customer

,customerid,DOB,gender,address,Website,job,industry,Tu·ªïi xem phim
0,0000000014,1999-04-18,N·ªØ,hoa khe quan thanh khe,KH0104|0345,student,computer,20
1,0000000034,1998-04-16,Nam,man thai,KH0104|0333,student,health service,21
2,0000000051,1993-12-16,Nam,que son quang nam,KH0104|0255,blue collar,economics,25
3,0000000081,1999-11-08,Nam,truong chinh,KH0104|0293,student,economics,19
4,0000000098,1994-10-01,Nam,c·∫©m l·ªá,KH0104|40580,blue collar,health service,24
...,...,...,...,...,...,...,...,...
4474,KH9855766,1995-07-05,N·ªØ,"A, THUAN PHUOC,HAI CHAU, DA NANG",Kh√¥ng c√≥ d·ªØ li·ªáu,specialist,finance,23
4475,KH9958204,2001-01-01,N·ªØ,"Ph∆∞·ªõc M·ªπ, ƒêN",Kh√¥ng c√≥ d·ªØ li·ªáu,teenager,NoJob,18
4476,WEBS00000043900,1988-06-17,N·ªØ,nguyen gian thanh,KHWEBS|00006890,specialist,construction,30
4477,WEBS00000044909,1996-09-08,N·ªØ,ng≈© h√†nh s∆°n,KHWEBS|00007899,blue collar,finance,22
4478,WEBS00000046015,2002-04-26,N·ªØ,Thanh Kh√™ T√¢y - Thanh Kh√™,KHWEBS|00009005,teenager,NoJob,17

### T·∫°o c·ªôt m·ªõi mang 2 gi√° tr·ªã d·ª±a v√†o gi√° tr·ªã c·ªßa c·ªôt Website (No Data Website v√† Have Data Website)

In [184]:
customer['D·ªØ li·ªáu web'] = customer['Website'].apply(lambda x: 'No Data Website' if x == 'Kh√¥ng c√≥ d·ªØ li·ªáu' else 'Have Data Website')

In [185]:
customer[['Website', 'D·ªØ li·ªáu web']]

               Website        D·ªØ li·ªáu web
0          KH0104|0345  Have Data Website
1          KH0104|0333  Have Data Website
2          KH0104|0255  Have Data Website
3          KH0104|0293  Have Data Website
4         KH0104|40580  Have Data Website
...                ...                ...
4474  Kh√¥ng c√≥ d·ªØ li·ªáu    No Data Website
4475  Kh√¥ng c√≥ d·ªØ li·ªáu    No Data Website
4476   KHWEBS|00006890  Have Data Website
4477   KHWEBS|00007899  Have Data Website
4478   KHWEBS|00009005  Have Data Website

[4479 rows x 2 columns]

In [186]:
customer

,customerid,DOB,gender,address,Website,job,industry,Tu·ªïi xem phim,D·ªØ li·ªáu web
0,0000000014,1999-04-18,N·ªØ,hoa khe quan thanh khe,KH0104|0345,student,computer,20,Have Data Website
1,0000000034,1998-04-16,Nam,man thai,KH0104|0333,student,health service,21,Have Data Website
2,0000000051,1993-12-16,Nam,que son quang nam,KH0104|0255,blue collar,economics,25,Have Data Website
3,0000000081,1999-11-08,Nam,truong chinh,KH0104|0293,student,economics,19,Have Data Website
4,0000000098,1994-10-01,Nam,c·∫©m l·ªá,KH0104|40580,blue collar,health service,24,Have Data Website
...,...,...,...,...,...,...,...,...,...
4474,KH9855766,1995-07-05,N·ªØ,"A, THUAN PHUOC,HAI CHAU, DA NANG",Kh√¥ng c√≥ d·ªØ li·ªáu,specialist,finance,23,No Data Website
4475,KH9958204,2001-01-01,N·ªØ,"Ph∆∞·ªõc M·ªπ, ƒêN",Kh√¥ng c√≥ d·ªØ li·ªáu,teenager,NoJob,18,No Data Website
4476,WEBS00000043900,1988-06-17,N·ªØ,nguyen gian thanh,KHWEBS|00006890,specialist,construction,30,Have Data Website
4477,WEBS00000044909,1996-09-08,N·ªØ,ng≈© h√†nh s∆°n,KHWEBS|00007899,blue collar,finance,22,Have Data Website
4478,WEBS00000046015,2002-04-26,N·ªØ,Thanh Kh√™ T√¢y - Thanh Kh√™,KHWEBS|00009005,teenager,NoJob,17,Have Data Website

In [187]:
Website = customer['D·ªØ li·ªáu web'].unique()
print(Website)

['Have Data Website' 'No Data Website']

## L√†m vi·ªác v·ªõi c·ªôt address

In [188]:
print(customer["address"].dtype)

object

### X√≥a d·∫•u

In [189]:
import re
import unicodedata

def remove_accents(input_str):
    nfkd_form = unicodedata.normalize('NFKD', input_str)
    return "".join([c for c in nfkd_form if not unicodedata.combining(c)])

customer['address'] = customer['address'].astype(str)
customer['address'] = customer['address'].apply(remove_accents)

### Thay d·∫•u - th√†nh d·∫•u ph·∫©y

In [190]:
# Thay th·∫ø d·∫•u "-" v·ªõi kho·∫£ng tr·∫Øng tr∆∞·ªõc v√† sau b·∫±ng d·∫•u ph·∫©y
customer['address'] = customer['address'].str.replace(r'\s*-\s*', ',', regex=True)

### X√≥a c√°c kho·∫£ng tr·∫Øng sau d·∫•u ph·∫©y

In [191]:
#X√≥a kho·∫£ng tr·∫Øng ƒë·∫ßu v√† cu·ªëi c·ªßa c√°c gi√° tr·ªã trong c·ªôt 'address'.
# ƒê·ªìng th·ªùi x√≥a kho·∫£ng tr·∫Øng sau c√°c d·∫•u ph·∫©y n·∫øu c√≥.
customer['address'] = customer['address'].str.strip().str.replace(r'\s*,\s*', ',', regex=True)

### X√≥a kho·∫£ng tr·∫Øng tr∆∞·ªõc v√† sau

In [192]:
customer['address'] = customer['address'].str.strip()

### Thay th√†nh lowercase

In [193]:
customer['address'] = customer['address'].str.lower()

In [194]:
customer

,customerid,DOB,gender,address,Website,job,industry,Tu·ªïi xem phim,D·ªØ li·ªáu web
0,0000000014,1999-04-18,N·ªØ,hoa khe quan thanh khe,KH0104|0345,student,computer,20,Have Data Website
1,0000000034,1998-04-16,Nam,man thai,KH0104|0333,student,health service,21,Have Data Website
2,0000000051,1993-12-16,Nam,que son quang nam,KH0104|0255,blue collar,economics,25,Have Data Website
3,0000000081,1999-11-08,Nam,truong chinh,KH0104|0293,student,economics,19,Have Data Website
4,0000000098,1994-10-01,Nam,cam le,KH0104|40580,blue collar,health service,24,Have Data Website
...,...,...,...,...,...,...,...,...,...
4474,KH9855766,1995-07-05,N·ªØ,"a,thuan phuoc,hai chau,da nang",Kh√¥ng c√≥ d·ªØ li·ªáu,specialist,finance,23,No Data Website
4475,KH9958204,2001-01-01,N·ªØ,"phuoc my,ƒën",Kh√¥ng c√≥ d·ªØ li·ªáu,teenager,NoJob,18,No Data Website
4476,WEBS00000043900,1988-06-17,N·ªØ,nguyen gian thanh,KHWEBS|00006890,specialist,construction,30,Have Data Website
4477,WEBS00000044909,1996-09-08,N·ªØ,ngu hanh son,KHWEBS|00007899,blue collar,finance,22,Have Data Website
4478,WEBS00000046015,2002-04-26,N·ªØ,"thanh khe tay,thanh khe",KHWEBS|00009005,teenager,NoJob,17,Have Data Website

### Thay format ch√≠nh ƒë·ªÉ x·ª≠ l√Ω address

In [195]:
# ƒê·ªãnh nghƒ©a h√†m ƒë·ªÉ x·ª≠ l√Ω c·ªôt 'address' theo y√™u c·∫ßu:
# - N·∫øu c√≥ nhi·ªÅu h∆°n 2 d·∫•u ph·∫©y, x√≥a d·∫•u ph·∫©y ·ªü gi·ªØa.
# - N·∫øu kh√¥ng c√≥ d·∫•u ph·∫©y ·ªü v·ªã tr√≠ cu·ªëi c√πng, th√™m d·∫•u ph·∫©y v√† "ƒë√† n·∫µng".
def process_address(address):
    # ƒê·∫øm s·ªë d·∫•u ph·∫©y
    comma_count = address.count(',')
    
    # X·ª≠ l√Ω tr∆∞·ªùng h·ª£p c√≥ nhi·ªÅu h∆°n 2 d·∫•u ph·∫©y
    if comma_count > 2:
        # T√°ch chu·ªói th√†nh c√°c ph·∫ßn v√† lo·∫°i b·ªè ph·∫ßn t·ª≠ th·ª© hai (d·∫•u ph·∫©y th·ª© hai)
        parts = address.split(',')
        address = ','.join(parts[:2] + parts[3:])
    # X·ª≠ l√Ω tr∆∞·ªùng h·ª£p kh√¥ng c√≥ d·∫•u ph·∫©y ·ªü cu·ªëi
    elif comma_count < 2:
        # Th√™m ",ƒë√† n·∫µng" v√†o cu·ªëi chu·ªói
        address += ',ƒë√† n·∫µng'
        
    return address

# √Åp d·ª•ng h√†m ƒë√£ ƒë·ªãnh nghƒ©a l√™n c·ªôt 'address' c·ªßa DataFrame customer
customer['address'] = customer['address'].apply(process_address)

In [196]:
def remove_danang_abbreviations(address):
    # ƒê·ªãnh nghƒ©a danh s√°ch c√°c t·ª´ vi·∫øt t·∫Øt c·∫ßn lo·∫°i b·ªè
    danang_abbreviations = ['ƒën', 'tp ƒë√† n·∫µng', 'da nang','tp. da nang',"ƒëa nang","tp ƒëa nang","tp.","tp"]
    
    # Ki·ªÉm tra v√† thay th·∫ø c√°c t·ª´ vi·∫øt t·∫Øt b·∫±ng chu·ªói r·ªóng
    for abbr in danang_abbreviations:
        address = address.replace(abbr, '')
    
    # Lo·∫°i b·ªè c√°c d·∫•u ph·∫©y th·ª´a v√† kho·∫£ng tr·∫Øng
    address_clean = ','.join([part.strip() for part in address.split(',') if part.strip()])
    
    return address_clean

# √Åp d·ª•ng h√†m ƒë√£ ƒë·ªãnh nghƒ©a l√™n c·ªôt 'address' c·ªßa DataFrame customer
customer['address'] = customer['address'].apply(remove_danang_abbreviations)

In [197]:
import re

def remove_accents(input_str):
    # B·∫£ng ƒë·ªïi ch·ªØ c√≥ d·∫•u sang kh√¥ng d·∫•u
    replacements = (
        ("√†|√°|·∫£|√£|·∫°|ƒÉ|·∫±|·∫Ø|·∫≥|·∫µ|·∫∑|√¢|·∫ß|·∫•|·∫©|·∫´|·∫≠", "a"),
        ("√®|√©|·∫ª|·∫Ω|·∫π|√™|·ªÅ|·∫ø|·ªÉ|·ªÖ|·ªá", "e"),
        ("√¨|√≠|·ªâ|ƒ©|·ªã", "i"),
        ("√≤|√≥|·ªè|√µ|·ªç|√¥|·ªì|·ªë|·ªï|·ªó|·ªô|∆°|·ªù|·ªõ|·ªü|·ª°|·ª£", "o"),
        ("√π|√∫|·ªß|≈©|·ª•|∆∞|·ª´|·ª©|·ª≠|·ªØ|·ª±", "u"),
        ("·ª≥|√Ω|·ª∑|·ªπ|·ªµ", "y"),
    )
    
    for pattern, repl in replacements:
        input_str = re.sub(pattern, repl, input_str)
        
    return input_str.lower()

tinh_thanh_list = ["quang tri", "quang ngai", "hue",  
                   "quang binh", "binh dinh", "dong nai",  
                   "khanh hoa", "hai duong", "nghe an",
                   "gia lai", "kon tum", "dak lak", "ha tinh",
                   "ha noi", "tp ho chi minh", "quang nam","ho chi minh","da nang"]
                   
quan_da_nang = ["son tra", "ngu hanh son", "cam le", 
                "thanh khe", "lien chieu", "hoa vang","hai chau"]
                

def split_address(address, quan_list, tinh_thanh_list):
    address_norm = remove_accents(address)

    # Lo·∫°i b·ªè t·ª´ "qu·∫≠n" n·∫øu c√≥ trong t√™n ƒë∆∞·ªùng
    address_norm = re.sub(r'\bquan\b', '', address_norm).strip()

    # X√°c ƒë·ªãnh th√†nh ph·ªë
    thanhpho = None
    for tinh_thanh in tinh_thanh_list:
        tinh_thanh_norm = remove_accents(tinh_thanh)
        if tinh_thanh_norm in address_norm:
            thanhpho = tinh_thanh
            address_norm = address_norm.replace(tinh_thanh_norm, "").strip()
            break
       # N·∫øu kh√¥ng t√¨m th·∫•y trong danh s√°ch t·ªânh, m·∫∑c ƒë·ªãnh l√† ƒê√† N·∫µng
    if not thanhpho:
        thanhpho = "ƒë√† n·∫µng"

    # X√°c ƒë·ªãnh qu·∫≠n v√† ƒë∆∞·ªùng
    quan = None
    duong = None

    # N·∫øu ƒë·ªãa ch·ªâ kh√¥ng thu·ªôc ƒê√† N·∫µng, ƒë·∫∑t ƒê∆∞·ªùng l√† "Ngo·∫°i t·ªânh"
    if thanhpho != "ƒë√† n·∫µng":
        quan = "ngo·∫°i t·ªânh"
        duong = "ngo·∫°i t·ªânh"
    else:
        # T√¨m v√† lo·∫°i b·ªè t√™n qu·∫≠n t·ª´ ƒë·ªãa ch·ªâ chu·∫©n h√≥a
        for q in quan_list:
            q_norm = remove_accents(q)
            if q_norm in address_norm:
                quan = q
                address_norm = address_norm.replace(q_norm, "").strip()
                break
         # Lo·∫°i b·ªè t·ª´ "ƒë√† n·∫µng" n·∫øu c√≥ trong chu·ªói ƒë·ªãa ch·ªâ chu·∫©n h√≥a
        da_nang_norm = remove_accents(",ƒë√† n·∫µng")
        address_norm = address_norm.replace(da_nang_norm, "").strip()

        # ƒê∆∞·ªùng ch·ªâ l√† ph·∫ßn c√≤n l·∫°i c·ªßa ƒë·ªãa ch·ªâ sau khi lo·∫°i b·ªè qu·∫≠n v√† th√†nh ph·ªë
        # duong = address_norm
        duong = re.sub(r'^[,\s]*|[,\s]*$', '', address_norm)
    return duong, quan, thanhpho

# √Åp d·ª•ng h√†m
customer['ƒê∆∞·ªùng'], customer['Qu·∫≠n'], customer['Th√†nh Ph·ªë'] = zip(*customer['address'].apply(lambda x: split_address(x, quan_da_nang, tinh_thanh_list)))

# Xem k·∫øt qu·∫£ sau khi t√°ch
customer[['address', 'ƒê∆∞·ªùng', 'Qu·∫≠n', 'Th√†nh Ph·ªë']]

,address,ƒê∆∞·ªùng,Qu·∫≠n,Th√†nh Ph·ªë
0,"hoa khe quan thanh khe,ƒë√† n·∫µng",hoa khe,thanh khe,ƒë√† n·∫µng
1,"man thai,ƒë√† n·∫µng",man thai,None,ƒë√† n·∫µng
2,"que son quang nam,ƒë√† n·∫µng",ngo·∫°i t·ªânh,ngo·∫°i t·ªânh,quang nam
3,"truong chinh,ƒë√† n·∫µng",truong chinh,None,ƒë√† n·∫µng
4,"cam le,ƒë√† n·∫µng",,cam le,ƒë√† n·∫µng
...,...,...,...,...
4474,"a,thuan phuoc","a,thuan phuoc",None,ƒë√† n·∫µng
4475,"phuoc my,ƒë√† n·∫µng",phuoc my,None,ƒë√† n·∫µng
4476,"nguyen gian thanh,ƒë√† n·∫µng",nguyen gian thanh,None,ƒë√† n·∫µng
4477,"ngu hanh son,ƒë√† n·∫µng",,ngu hanh son,ƒë√† n·∫µng
4478,"thanh khe tay,thanh khe,ƒë√† n·∫µng",tay,thanh khe,ƒë√† n·∫µng

In [198]:
quan_mapping = {
    "son tra": "S∆°n Tr√†",
    "ngu hanh son": "Ng≈© H√†nh S∆°n", 
    "cam le": "C·∫©m L·ªá",
    "thanh khe": "Thanh Kh√™",
    "lien chieu": "Li√™n Chi·ªÉu",
    "hoa vang": "H√≤a Vang",
    "hai chau": "H·∫£i Ch√¢u",
    "ngo·∫°i t·ªânh":"Ngo·∫°i T·ªânh"
}

customer["Qu·∫≠n"] = customer["Qu·∫≠n"].map(quan_mapping)

In [199]:
tinh_mapping = {
    "da nang": "ƒê√† N·∫µng",  
    "ƒë√† n·∫µng": "ƒê√† N·∫µng",
    "quang nam": "Qu·∫£ng Nam",
    "quang tri": "Qu·∫£ng Tr·ªã",
    "hue": "Hu·∫ø",
    "quang ngai": "Qu·∫£ng Ng√£i",
    "nghe an": "Ngh·ªá An",
    "gia lai": "Gia Lai",  
    "quang binh": "Qu·∫£ng B√¨nh",
    "ha tinh": "H√† Tƒ©nh",
    "hai duong": "H·∫£i D∆∞∆°ng",
    "ha noi": "H√† N·ªôi",
    "khanh hoa": "Kh√°nh H√≤a",
    "kon tum": "Kon Tum",
    "dak lak": "ƒê·∫Øk L·∫Øk",
    "ho chi minh": "H·ªì Ch√≠ Minh"
    
}

customer["Th√†nh Ph·ªë"] = customer["Th√†nh Ph·ªë"].map(tinh_mapping)

In [200]:
customer[['address', 'ƒê∆∞·ªùng', 'Qu·∫≠n', 'Th√†nh Ph·ªë']]

,address,ƒê∆∞·ªùng,Qu·∫≠n,Th√†nh Ph·ªë
0,"hoa khe quan thanh khe,ƒë√† n·∫µng",hoa khe,Thanh Kh√™,ƒê√† N·∫µng
1,"man thai,ƒë√† n·∫µng",man thai,NaN,ƒê√† N·∫µng
2,"que son quang nam,ƒë√† n·∫µng",ngo·∫°i t·ªânh,Ngo·∫°i T·ªânh,Qu·∫£ng Nam
3,"truong chinh,ƒë√† n·∫µng",truong chinh,NaN,ƒê√† N·∫µng
4,"cam le,ƒë√† n·∫µng",,C·∫©m L·ªá,ƒê√† N·∫µng
...,...,...,...,...
4474,"a,thuan phuoc","a,thuan phuoc",NaN,ƒê√† N·∫µng
4475,"phuoc my,ƒë√† n·∫µng",phuoc my,NaN,ƒê√† N·∫µng
4476,"nguyen gian thanh,ƒë√† n·∫µng",nguyen gian thanh,NaN,ƒê√† N·∫µng
4477,"ngu hanh son,ƒë√† n·∫µng",,Ng≈© H√†nh S∆°n,ƒê√† N·∫µng
4478,"thanh khe tay,thanh khe,ƒë√† n·∫µng",tay,Thanh Kh√™,ƒê√† N·∫µng

In [201]:
district = customer['Qu·∫≠n'].unique()
print(district)

['Thanh Kh√™' nan 'Ngo·∫°i T·ªânh' 'C·∫©m L·ªá' 'Ng≈© H√†nh S∆°n' 'Li√™n Chi·ªÉu'
 'H√≤a Vang' 'S∆°n Tr√†' 'H·∫£i Ch√¢u']

In [202]:
null_district = customer[customer['Qu·∫≠n'].isnull()]
null_district

,customerid,DOB,gender,address,Website,job,industry,Tu·ªïi xem phim,D·ªØ li·ªáu web,ƒê∆∞·ªùng,Qu·∫≠n,Th√†nh Ph·ªë
1,0000000034,1998-04-16,Nam,"man thai,ƒë√† n·∫µng",KH0104|0333,student,health service,21,Have Data Website,man thai,NaN,ƒê√† N·∫µng
3,0000000081,1999-11-08,Nam,"truong chinh,ƒë√† n·∫µng",KH0104|0293,student,economics,19,Have Data Website,truong chinh,NaN,ƒê√† N·∫µng
5,0000000109,1999-05-05,Nam,"tam thuan,ƒë√† n·∫µng",KH0104|0191,student,education,20,Have Data Website,tam thuan,NaN,ƒê√† N·∫µng
8,0000000229,1992-01-14,Nam,"le ƒëinh duong,ƒë√† n·∫µng",KH0104|2716,white collar,economics,27,Have Data Website,le ƒëinh duong,NaN,ƒê√† N·∫µng
9,0000000266,1995-01-01,Nam,"le duan,ƒë√† n·∫µng",KH0104|0044,blue collar,social service,24,Have Data Website,le duan,NaN,ƒê√† N·∫µng
...,...,...,...,...,...,...,...,...,...,...,...,...
4466,KH9704978,1997-05-18,N·ªØ,"hoang van thai,ƒë√† n·∫µng",Kh√¥ng c√≥ d·ªØ li·ªáu,student,construction,21,No Data Website,hoang van thai,NaN,ƒê√† N·∫µng
4468,KH9743341,2000-02-25,Nam,"nui thanh,ƒë√† n·∫µng",Kh√¥ng c√≥ d·ªØ li·ªáu,teenager,NoJob,19,No Data Website,nui thanh,NaN,ƒê√† N·∫µng
4474,KH9855766,1995-07-05,N·ªØ,"a,thuan phuoc",Kh√¥ng c√≥ d·ªØ li·ªáu,specialist,finance,23,No Data Website,"a,thuan phuoc",NaN,ƒê√† N·∫µng
4475,KH9958204,2001-01-01,N·ªØ,"phuoc my,ƒë√† n·∫µng",Kh√¥ng c√≥ d·ªØ li·ªáu,teenager,NoJob,18,No Data Website,phuoc my,NaN,ƒê√† N·∫µng
4476,WEBS00000043900,1988-06-17,N·ªØ,"nguyen gian thanh,ƒë√† n·∫µng",KHWEBS|00006890,specialist,construction,30,Have Data Website,nguyen gian thanh,NaN,ƒê√† N·∫µng

In [203]:
city = customer['Th√†nh Ph·ªë'].unique()
print(city)

['ƒê√† N·∫µng' 'Qu·∫£ng Nam' 'Qu·∫£ng Tr·ªã' 'Hu·∫ø' 'Qu·∫£ng Ng√£i' 'Ngh·ªá An' 'Gia Lai'
 'Qu·∫£ng B√¨nh' 'H√† Tƒ©nh' 'H·∫£i D∆∞∆°ng' 'H√† N·ªôi' 'Kh√°nh H√≤a' 'H·ªì Ch√≠ Minh'
 'Kon Tum' 'ƒê·∫Øk L·∫Øk']

In [204]:
null_city = customer[customer['Th√†nh Ph·ªë'].isnull()]
null_city

Empty DataFrame
Columns: [customerid, DOB, gender, address, Website, job, industry, Tu·ªïi xem phim, D·ªØ li·ªáu web, ƒê∆∞·ªùng, Qu·∫≠n, Th√†nh Ph·ªë]
Index: []

### Th·ª±c hi·ªán ti·∫øp vi·ªác ƒë·ªçc c√°c file d·ªØ li·ªáu t·ª´ ƒë∆∞·ªùng , qu√¢n, th√†nh ph·ªë ƒê√† N·∫µng ƒë·ªÉ t·ªëi ∆∞u hoa vi·ªác l·ªçc c√°i gi√° tr·ªã null

In [205]:
tenduong=pd.read_excel('danh_sach_ten_cac_con_duong_tai_thanh_pho_da_nang_.xls')
tenduong.head()

,Ten duong,Tenduong,TuÃõÃÄ khoÃÅa,mo ta,HiÃÄnh aÃânh,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Quan
0,3/2,3/2,"3 th√°ng 2, H·∫£i Ch√¢u",T√äN ƒê∆Ø·ªúNG: 3 th√°ng 2\n* V·ªã tr√≠ con ƒë∆∞·ªùng:\n1. ...,https://congdulieu.vn/cdldnfiles/doanhnhantend...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,30/4,30/4,"30 th√°ng 4, H·∫£i Ch√¢u",T√äN ƒê∆Ø·ªúNG: 30 th√°ng 4\n* V·ªã tr√≠ con ƒë∆∞·ªùng:\n1....,https://congdulieu.vn/cdldnfiles/doanhnhantend...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2/9,2thang9,"2 th√°ng 9, H·∫£i Ch√¢u, qu·ªëc kh√°nh,",T√äN ƒê∆Ø·ªúNG: 2 th√°ng 9\n* V·ªã tr√≠ con ƒë∆∞·ªùng:\n1. ...,https://congdulieu.vn/cdldnfiles/doanhnhantend...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Phan ƒêinh Gi√≥t,PhanDinhGiot,"Phan ƒêinh Gi√≥t, li√™n chi·ªÉu",T√äN ƒê∆Ø·ªúNG: Phan ƒê√¨nh Gi√≥t\n* V·ªã tr√≠ con ƒë∆∞·ªùng:...,https://congdulieu.vn/cdldnfiles/doanhnhantend...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,L√Ω T·∫ø Xuy√™n,LyTeXuyen,L√Ω T·∫ø Xuy√™n,T√äN ƒê∆Ø·ªúNG: L√Ω T·∫ø Xuy√™n\n* V·ªã tr√≠ con ƒë∆∞·ªùng:\n1...,https://congdulieu.vn/cdldnfiles/doanhnhantend...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [206]:
tenduong = tenduong.loc[:, ~tenduong.columns.str.contains('^Unnamed')]
tenduong

,Ten duong,Tenduong,TuÃõÃÄ khoÃÅa,mo ta,HiÃÄnh aÃânh,Quan
0,3/2,3/2,"3 th√°ng 2, H·∫£i Ch√¢u",T√äN ƒê∆Ø·ªúNG: 3 th√°ng 2\n* V·ªã tr√≠ con ƒë∆∞·ªùng:\n1. ...,https://congdulieu.vn/cdldnfiles/doanhnhantend...,NaN
1,30/4,30/4,"30 th√°ng 4, H·∫£i Ch√¢u",T√äN ƒê∆Ø·ªúNG: 30 th√°ng 4\n* V·ªã tr√≠ con ƒë∆∞·ªùng:\n1....,https://congdulieu.vn/cdldnfiles/doanhnhantend...,NaN
2,2/9,2thang9,"2 th√°ng 9, H·∫£i Ch√¢u, qu·ªëc kh√°nh,",T√äN ƒê∆Ø·ªúNG: 2 th√°ng 9\n* V·ªã tr√≠ con ƒë∆∞·ªùng:\n1. ...,https://congdulieu.vn/cdldnfiles/doanhnhantend...,NaN
3,Phan ƒêinh Gi√≥t,PhanDinhGiot,"Phan ƒêinh Gi√≥t, li√™n chi·ªÉu",T√äN ƒê∆Ø·ªúNG: Phan ƒê√¨nh Gi√≥t\n* V·ªã tr√≠ con ƒë∆∞·ªùng:...,https://congdulieu.vn/cdldnfiles/doanhnhantend...,NaN
4,L√Ω T·∫ø Xuy√™n,LyTeXuyen,L√Ω T·∫ø Xuy√™n,T√äN ƒê∆Ø·ªúNG: L√Ω T·∫ø Xuy√™n\n* V·ªã tr√≠ con ƒë∆∞·ªùng:\n1...,https://congdulieu.vn/cdldnfiles/doanhnhantend...,NaN
...,...,...,...,...,...,...
1960,An Ng√£i 5,AnNgai5,NaN,T√äN ƒê∆Ø·ªúNG: An Ng√£i 5\n* V·ªã tr√≠ con ƒë∆∞·ªùng: \n1....,NaN,NaN
1961,An Ng√£i 6,AnNgai6,NaN,T√äN ƒê∆Ø·ªúNG: An Ng√£i 6\n* V·ªã tr√≠ con ƒë∆∞·ªùng: \n1....,NaN,NaN
1962,An Ng√£i 7,AnNgai7,NaN,T√äN ƒê∆Ø·ªúNG: An Ng√£i 7\n* V·ªã tr√≠ con ƒë∆∞·ªùng: \n1....,NaN,NaN
1963,An Ng√£i 8,AnNgai8,NaN,T√äN ƒê∆Ø·ªúNG: An Ng√£i 8\n* V·ªã tr√≠ con ƒë∆∞·ªùng: \n1....,NaN,NaN
1964,An Ng√£i 9,AnNgai9,NaN,T√äN ƒê∆Ø·ªúNG: An Ng√£i 9\n* V·ªã tr√≠ con ƒë∆∞·ªùng: \n1....,NaN,NaN

In [207]:
tenduong['mo ta'] = tenduong['mo ta'].astype(str)
tenduong['mo ta'] = tenduong['mo ta'].str.lower()

In [208]:
tenduong['Ten duong']=tenduong['Ten duong'].apply(remove_accents)
tenduong

,Ten duong,Tenduong,TuÃõÃÄ khoÃÅa,mo ta,HiÃÄnh aÃânh,Quan
0,3/2,3/2,"3 th√°ng 2, H·∫£i Ch√¢u",t√™n ƒë∆∞·ªùng: 3 th√°ng 2\n* v·ªã tr√≠ con ƒë∆∞·ªùng:\n1. ...,https://congdulieu.vn/cdldnfiles/doanhnhantend...,NaN
1,30/4,30/4,"30 th√°ng 4, H·∫£i Ch√¢u",t√™n ƒë∆∞·ªùng: 30 th√°ng 4\n* v·ªã tr√≠ con ƒë∆∞·ªùng:\n1....,https://congdulieu.vn/cdldnfiles/doanhnhantend...,NaN
2,2/9,2thang9,"2 th√°ng 9, H·∫£i Ch√¢u, qu·ªëc kh√°nh,",t√™n ƒë∆∞·ªùng: 2 th√°ng 9\n* v·ªã tr√≠ con ƒë∆∞·ªùng:\n1. ...,https://congdulieu.vn/cdldnfiles/doanhnhantend...,NaN
3,phan ƒëinh giot,PhanDinhGiot,"Phan ƒêinh Gi√≥t, li√™n chi·ªÉu",t√™n ƒë∆∞·ªùng: phan ƒë√¨nh gi√≥t\n* v·ªã tr√≠ con ƒë∆∞·ªùng:...,https://congdulieu.vn/cdldnfiles/doanhnhantend...,NaN
4,ly te xuyen,LyTeXuyen,L√Ω T·∫ø Xuy√™n,t√™n ƒë∆∞·ªùng: l√Ω t·∫ø xuy√™n\n* v·ªã tr√≠ con ƒë∆∞·ªùng:\n1...,https://congdulieu.vn/cdldnfiles/doanhnhantend...,NaN
...,...,...,...,...,...,...
1960,an ngai 5,AnNgai5,NaN,t√™n ƒë∆∞·ªùng: an ng√£i 5\n* v·ªã tr√≠ con ƒë∆∞·ªùng: \n1....,NaN,NaN
1961,an ngai 6,AnNgai6,NaN,t√™n ƒë∆∞·ªùng: an ng√£i 6\n* v·ªã tr√≠ con ƒë∆∞·ªùng: \n1....,NaN,NaN
1962,an ngai 7,AnNgai7,NaN,t√™n ƒë∆∞·ªùng: an ng√£i 7\n* v·ªã tr√≠ con ƒë∆∞·ªùng: \n1....,NaN,NaN
1963,an ngai 8,AnNgai8,NaN,t√™n ƒë∆∞·ªùng: an ng√£i 8\n* v·ªã tr√≠ con ƒë∆∞·ªùng: \n1....,NaN,NaN
1964,an ngai 9,AnNgai9,NaN,t√™n ƒë∆∞·ªùng: an ng√£i 9\n* v·ªã tr√≠ con ƒë∆∞·ªùng: \n1....,NaN,NaN

In [209]:
# check trong mo ta c√≥ bao g·ªìm t√™n c√°c qu·∫≠n t·∫°i ƒë√† n·∫µng kh√¥ng, n·∫øu c√≥ th√¨ add v√†o qu·∫≠n
specific_strings = ['h·∫£i ch√¢u', 'thanh kh√™', 'li√™n chi·ªÉu', 'ng≈© h√†nh s∆°n', 's∆°n tr√†', 'c·∫©m l·ªá', 'h√≤a vang']
for string in specific_strings:
    tenduong.loc[tenduong['mo ta'].str.contains(string), 'quan'] = string
tenduong

,Ten duong,Tenduong,TuÃõÃÄ khoÃÅa,mo ta,HiÃÄnh aÃânh,Quan,quan
0,3/2,3/2,"3 th√°ng 2, H·∫£i Ch√¢u",t√™n ƒë∆∞·ªùng: 3 th√°ng 2\n* v·ªã tr√≠ con ƒë∆∞·ªùng:\n1. ...,https://congdulieu.vn/cdldnfiles/doanhnhantend...,NaN,h·∫£i ch√¢u
1,30/4,30/4,"30 th√°ng 4, H·∫£i Ch√¢u",t√™n ƒë∆∞·ªùng: 30 th√°ng 4\n* v·ªã tr√≠ con ƒë∆∞·ªùng:\n1....,https://congdulieu.vn/cdldnfiles/doanhnhantend...,NaN,h·∫£i ch√¢u
2,2/9,2thang9,"2 th√°ng 9, H·∫£i Ch√¢u, qu·ªëc kh√°nh,",t√™n ƒë∆∞·ªùng: 2 th√°ng 9\n* v·ªã tr√≠ con ƒë∆∞·ªùng:\n1. ...,https://congdulieu.vn/cdldnfiles/doanhnhantend...,NaN,h·∫£i ch√¢u
3,phan ƒëinh giot,PhanDinhGiot,"Phan ƒêinh Gi√≥t, li√™n chi·ªÉu",t√™n ƒë∆∞·ªùng: phan ƒë√¨nh gi√≥t\n* v·ªã tr√≠ con ƒë∆∞·ªùng:...,https://congdulieu.vn/cdldnfiles/doanhnhantend...,NaN,li√™n chi·ªÉu
4,ly te xuyen,LyTeXuyen,L√Ω T·∫ø Xuy√™n,t√™n ƒë∆∞·ªùng: l√Ω t·∫ø xuy√™n\n* v·ªã tr√≠ con ƒë∆∞·ªùng:\n1...,https://congdulieu.vn/cdldnfiles/doanhnhantend...,NaN,c·∫©m l·ªá
...,...,...,...,...,...,...,...
1960,an ngai 5,AnNgai5,NaN,t√™n ƒë∆∞·ªùng: an ng√£i 5\n* v·ªã tr√≠ con ƒë∆∞·ªùng: \n1....,NaN,NaN,h√≤a vang
1961,an ngai 6,AnNgai6,NaN,t√™n ƒë∆∞·ªùng: an ng√£i 6\n* v·ªã tr√≠ con ƒë∆∞·ªùng: \n1....,NaN,NaN,h√≤a vang
1962,an ngai 7,AnNgai7,NaN,t√™n ƒë∆∞·ªùng: an ng√£i 7\n* v·ªã tr√≠ con ƒë∆∞·ªùng: \n1....,NaN,NaN,h√≤a vang
1963,an ngai 8,AnNgai8,NaN,t√™n ƒë∆∞·ªùng: an ng√£i 8\n* v·ªã tr√≠ con ƒë∆∞·ªùng: \n1....,NaN,NaN,h√≤a vang
1964,an ngai 9,AnNgai9,NaN,t√™n ƒë∆∞·ªùng: an ng√£i 9\n* v·ªã tr√≠ con ƒë∆∞·ªùng: \n1....,NaN,NaN,h√≤a vang

In [210]:
tracuu=tenduong[['Ten duong','quan']]
tracuu

           Ten duong        quan
0                3/2    h·∫£i ch√¢u
1               30/4    h·∫£i ch√¢u
2                2/9    h·∫£i ch√¢u
3     phan ƒëinh giot  li√™n chi·ªÉu
4        ly te xuyen      c·∫©m l·ªá
...              ...         ...
1960       an ngai 5    h√≤a vang
1961       an ngai 6    h√≤a vang
1962       an ngai 7    h√≤a vang
1963       an ngai 8    h√≤a vang
1964       an ngai 9    h√≤a vang

[1965 rows x 2 columns]

In [211]:
#add hoa khanh vao tracuu de tra c·ª©u th√†nh qu·∫≠n Li√™n Chi·ªÉu
new_record = {'Ten duong': 'hoa khanh', 'quan': 'li√™n chi·ªÉu'}
tracuu.loc[len(tracuu)] = new_record
tracuu

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_40928\2520740169.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tracuu.loc[len(tracuu)] = new_record

           Ten duong        quan
0                3/2    h·∫£i ch√¢u
1               30/4    h·∫£i ch√¢u
2                2/9    h·∫£i ch√¢u
3     phan ƒëinh giot  li√™n chi·ªÉu
4        ly te xuyen      c·∫©m l·ªá
...              ...         ...
1961       an ngai 6    h√≤a vang
1962       an ngai 7    h√≤a vang
1963       an ngai 8    h√≤a vang
1964       an ngai 9    h√≤a vang
1965       hoa khanh  li√™n chi·ªÉu

[1966 rows x 2 columns]

In [212]:
quan_mapping2 = {
    "s∆°n tr√†": "S∆°n Tr√†",
    "ng≈© h√†nh s∆°n": "Ng≈© H√†nh S∆°n", 
    "c·∫©m l·ªá": "C·∫©m L·ªá",
    "thanh kh√™": "Thanh Kh√™",
    "li√™n chi·ªÉu": "Li√™n Chi·ªÉu",
    "h√≤a vang": "H√≤a Vang",
    "h·∫£i ch√¢u": "H·∫£i Ch√¢u",
    "ngo·∫°i t·ªânh":"Ngo·∫°i T·ªânh"
}

tracuu["quan"] = tracuu["quan"].map(quan_mapping2)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_40928\161112046.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tracuu["quan"] = tracuu["quan"].map(quan_mapping2)

In [213]:
n= tracuu.duplicated(subset=['Ten duong']).sum()
n

158

In [214]:
tracuu = tracuu.drop_duplicates(subset=['Ten duong'])

In [215]:
customer_full = pd.merge(customer, tracuu, how='left', left_on='ƒê∆∞·ªùng', right_on='Ten duong')
customer_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4479 entries, 0 to 4478
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerid     4479 non-null   object
 1   DOB            4476 non-null   datetime64[ns]
 2   gender         4479 non-null   object
 3   address        4479 non-null   object
 4   Website        4479 non-null   object
 5   job            4479 non-null   object
 6   industry       4479 non-null   object
 7   Tu·ªïi xem phim  4476 non-null   Int64
 8   D·ªØ li·ªáu web    4479 non-null   object
 9   ƒê∆∞·ªùng          4479 non-null   object
 10  Qu·∫≠n           3298 non-null   object
 11  Th√†nh Ph·ªë      4479 non-null   object
 12  Ten duong      976 non-null    object
 13  quan           873 non-null    object
dtypes: Int64(1), datetime64[ns](1), object(12)
memory usage: 494.4+ KB

In [216]:
customer_full = pd.merge(customer, tracuu, how='left', left_on='ƒê∆∞·ªùng', right_on='Ten duong')
customer_full['Qu·∫≠n'] = customer_full['quan'].combine_first(customer_full['Qu·∫≠n'])
customer_full.drop(['Ten duong', 'quan'], axis=1, inplace=True)
customer_full

,customerid,DOB,gender,address,Website,job,industry,Tu·ªïi xem phim,D·ªØ li·ªáu web,ƒê∆∞·ªùng,Qu·∫≠n,Th√†nh Ph·ªë
0,0000000014,1999-04-18,N·ªØ,"hoa khe quan thanh khe,ƒë√† n·∫µng",KH0104|0345,student,computer,20,Have Data Website,hoa khe,Thanh Kh√™,ƒê√† N·∫µng
1,0000000034,1998-04-16,Nam,"man thai,ƒë√† n·∫µng",KH0104|0333,student,health service,21,Have Data Website,man thai,NaN,ƒê√† N·∫µng
2,0000000051,1993-12-16,Nam,"que son quang nam,ƒë√† n·∫µng",KH0104|0255,blue collar,economics,25,Have Data Website,ngo·∫°i t·ªânh,Ngo·∫°i T·ªânh,Qu·∫£ng Nam
3,0000000081,1999-11-08,Nam,"truong chinh,ƒë√† n·∫µng",KH0104|0293,student,economics,19,Have Data Website,truong chinh,NaN,ƒê√† N·∫µng
4,0000000098,1994-10-01,Nam,"cam le,ƒë√† n·∫µng",KH0104|40580,blue collar,health service,24,Have Data Website,,C·∫©m L·ªá,ƒê√† N·∫µng
...,...,...,...,...,...,...,...,...,...,...,...,...
4474,KH9855766,1995-07-05,N·ªØ,"a,thuan phuoc",Kh√¥ng c√≥ d·ªØ li·ªáu,specialist,finance,23,No Data Website,"a,thuan phuoc",NaN,ƒê√† N·∫µng
4475,KH9958204,2001-01-01,N·ªØ,"phuoc my,ƒë√† n·∫µng",Kh√¥ng c√≥ d·ªØ li·ªáu,teenager,NoJob,18,No Data Website,phuoc my,S∆°n Tr√†,ƒê√† N·∫µng
4476,WEBS00000043900,1988-06-17,N·ªØ,"nguyen gian thanh,ƒë√† n·∫µng",KHWEBS|00006890,specialist,construction,30,Have Data Website,nguyen gian thanh,Thanh Kh√™,ƒê√† N·∫µng
4477,WEBS00000044909,1996-09-08,N·ªØ,"ngu hanh son,ƒë√† n·∫µng",KHWEBS|00007899,blue collar,finance,22,Have Data Website,,Ng≈© H√†nh S∆°n,ƒê√† N·∫µng
4478,WEBS00000046015,2002-04-26,N·ªØ,"thanh khe tay,thanh khe,ƒë√† n·∫µng",KHWEBS|00009005,teenager,NoJob,17,Have Data Website,tay,Thanh Kh√™,ƒê√† N·∫µng

In [217]:
customer_full['Qu·∫≠n'] = customer_full['Qu·∫≠n'].fillna('Kh√¥ng x√°c ƒë·ªãnh')

In [218]:
null_records = customer_full.loc[(customer_full['Th√†nh Ph·ªë'] == 'ƒê√† N·∫µng') & 
                               (customer_full['Qu·∫≠n'] == '')]
null_records

Empty DataFrame
Columns: [customerid, DOB, gender, address, Website, job, industry, Tu·ªïi xem phim, D·ªØ li·ªáu web, ƒê∆∞·ªùng, Qu·∫≠n, Th√†nh Ph·ªë]
Index: []

In [219]:
print(customer_full['Qu·∫≠n'].isnull().any())

False

In [220]:
district_col = customer_full['Qu·∫≠n']
district_col

0            Thanh Kh√™
1       Kh√¥ng x√°c ƒë·ªãnh
2           Ngo·∫°i T·ªânh
3       Kh√¥ng x√°c ƒë·ªãnh
4               C·∫©m L·ªá
             ...
4474    Kh√¥ng x√°c ƒë·ªãnh
4475           S∆°n Tr√†
4476         Thanh Kh√™
4477      Ng≈© H√†nh S∆°n
4478         Thanh Kh√™
Name: Qu·∫≠n, Length: 4479, dtype: object

In [221]:
customer_full.isnull().any()

customerid       False
DOB               True
gender           False
address          False
Website          False
job              False
industry         False
Tu·ªïi xem phim     True
D·ªØ li·ªáu web      False
ƒê∆∞·ªùng            False
Qu·∫≠n             False
Th√†nh Ph·ªë        False
dtype: bool

## X·ª≠ l√Ω c√°c d·ªØ li·ªáu b·ªã l·ªói c·ªßa DOB

In [222]:
customer_DOB_full = customer_full[customer_full['DOB'].isnull()]
customer_DOB_full

,customerid,DOB,gender,address,Website,job,industry,Tu·ªïi xem phim,D·ªØ li·ªáu web,ƒê∆∞·ªùng,Qu·∫≠n,Th√†nh Ph·ªë
1177,0001013549,NaT,Nam,"ngu hanh son,ƒë√† n·∫µng",KH0104|24922,teenager,NoJob,<NA>,Have Data Website,,Ng≈© H√†nh S∆°n,ƒê√† N·∫µng
1563,0001077023,NaT,Nam,"banh thai buoi hoa khanh lien chieu,ƒë√† n·∫µng",KH0104|27958,teenager,NoJob,<NA>,Have Data Website,banh thai buoi hoa khanh,Li√™n Chi·ªÉu,ƒê√† N·∫µng
2207,0001120656,NaT,Nam,"quan ngu hanh son,ƒë√† n·∫µng",KH0104|46001,teenager,NoJob,<NA>,Have Data Website,,Ng≈© H√†nh S∆°n,ƒê√† N·∫µng

Nh·∫≠n ra l√† 3 tr∆∞·ªùng h·ª£p b·ªã l·ªói l√† sau khi chu·∫©n h√≥a n√†y l√† ƒë·ªÅu thu·ªôc lo·∫°i kh√°ch h√†ng l√† teenager, v·∫≠y n√™n th·ª±c hi·ªán vi·ªác g√°n nh√£n v√†o ƒë·ªô tu·ªïi n√†y l√† 13 tu·ªïi

In [223]:
customer_full.loc[customer_full['DOB'].isnull(), 'DOB'] = 13

In [224]:
customer_full['Tu·ªïi xem phim'] = customer_full['Tu·ªïi xem phim'].fillna(13)

In [225]:
customer_full.isnull().any()

customerid       False
DOB              False
gender           False
address          False
Website          False
job              False
industry         False
Tu·ªïi xem phim    False
D·ªØ li·ªáu web      False
ƒê∆∞·ªùng            False
Qu·∫≠n             False
Th√†nh Ph·ªë        False
dtype: bool

# ƒê√£ ho√†n th√†nh vi·ªác x·ª≠ l√Ω v·ªõi file customer v√† ƒë∆∞a ra ƒë∆∞·ª£c m·ªôt s·ªë v·∫•n ƒë·ªÅ sau : 
    -- ƒê√£ x·ª≠ l√Ω m·ªôt s·ªë k√≠ t·ª± ƒë·∫∑c bi·ªát c·ªßa customerid
    -- ƒê√£ chuy·ªÉn ƒë∆∞·ª£c c·ªôt DOB v·ªÅ gi√° tr·ªã c·∫ßn s·ª≠ d·ª•ng sau khi ƒë√£ b·ªã m√£ h√≥a
    -- ƒê√£ ho√†n th√†nh vi·ªác x·ª≠ l√Ω missing value c·ªôt Website
    -- ƒê√£ ho√†n th√†nh vi·ªác t·∫°o ra c·ªôt D·ªØ li·ªáu web d·ª±a v√†o gi√° tr·ªã c·ªôt Website
    -- ƒê√£ ho√†n th√†nh vi·ªác x·ª≠ l√Ω missing value c·ªôt industry t·∫°i gi√° tr·ªã teenager c·ªßa c·ªôt job
    -- ƒê√£ t·∫°o ra ƒë∆∞·ª£c c·ªôt "Tu·ªïi xem phim" c·ªßa kh√°ch h√†ng
    -- ƒê√£ t√°ch ƒë∆∞·ª£c d·ªØ li·ªáu c·ªôt address th√†nh c√°c c·ªôt "ƒê∆∞·ªùng","Qu·∫≠n","Th√†nh ph·ªë"

## Xu·∫•t ra file excel

In [226]:
# drop c·ªôt ƒë∆∞·ªùng
customer_full=customer_full.drop(['ƒê∆∞·ªùng'], axis=1)

In [227]:
customer_full.to_excel("Customers.xlsx")

# L√†m vi·ªác v·ªõi b·∫£ng ticket

## ƒê·ªçc d·ªØ li·ªáu

In [228]:
tickets = pd.read_excel(excel_file, sheet_name='ticket')

In [229]:
tickets.head()

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn
0,10006052019B0225,emp002,2019-05-06 16:40:43,90000.0,0000000014,20074925,2019-05-06,18:15:00,G04,3,AVENGERS: H·ªíI K·∫æT,ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng
1,10006052019B0225,emp002,2019-05-06 16:40:43,90000.0,0000000014,20074924,2019-05-06,18:15:00,G03,3,AVENGERS: H·ªíI K·∫æT,ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng
2,10022052019B0167,emp011,2019-05-22 20:30:28,90000.0,0000000034,20097042,2019-05-22,20:45:00,E04,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng
3,10022052019B0167,emp011,2019-05-22 20:30:28,90000.0,0000000034,20097041,2019-05-22,20:45:00,E03,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng
4,10130052019B0141,emp005,2019-05-30 19:28:44,90000.0,0000000034,20106761,2019-05-30,19:30:00,F04,1,NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng

In [230]:
tickets.tail()

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn
35469,10130052019B0192,emp005,2019-05-30 21:49:46,180000.0,WEBS00000044909,20107072,2019-05-30,21:35:00,B10,4,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng
35470,10130052019B0192,emp005,2019-05-30 21:49:46,180000.0,WEBS00000044909,20107071,2019-05-30,21:35:00,B09,4,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng
35471,10130052019B0192,emp005,2019-05-30 21:49:46,180000.0,WEBS00000044909,20107069,2019-05-30,21:35:00,B07,4,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng
35472,12508052019B0036,emp007,2019-05-08 19:26:47,90000.0,WEBS00000046015,20077797,2019-05-08,19:15:00,C14,4,AVENGERS: H·ªíI K·∫æT,ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng
35473,12508052019B0036,emp007,2019-05-08 19:26:47,90000.0,WEBS00000046015,20077796,2019-05-08,19:15:00,C13,4,AVENGERS: H·ªíI K·∫æT,ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng

In [231]:
tickets.shape

(35474, 15)

In [232]:
tickets.columns

Index(['orderid', 'cashier', 'saledate', 'total', 'customerid', 'ticketcode',
       'date', 'time', 'slot', 'room', 'film', 'slot type', 'ticket type',
       'ticket price', 'popcorn'],
      dtype='object')

In [233]:
tickets.isnull().any()

orderid          True
cashier         False
saledate         True
total            True
customerid      False
ticketcode      False
date            False
time            False
slot            False
room            False
film            False
slot type       False
ticket type     False
ticket price    False
popcorn          True
dtype: bool

## L√†m vi·ªác v·ªõi c·ªôt orderid

In [234]:
print(tickets["orderid"].dtype)

object

In [235]:
tickets["orderid"].isnull().values.any()
# C√≥ null ·ªü ch·ªó orderid

True

In [236]:
orderid_count = tickets['orderid'].value_counts()
print(orderid_count)

orderid
10026052019B0285    43
12511052019B0007    32
10015052019B0081    27
12521052019B0026    27
10017052019B0148    23
                    ..
10106052019B0121     1
10025052019B0287     1
10012052019B0213     1
10012052019B0335     1
10014052019B0114     1
Name: count, Length: 14598, dtype: int64

K·∫øt qu·∫£ ·ªü tr√™n c·ªßa c√°c orderid b·ªã tr√πng nhi·ªÅu v√† s·ªë l∆∞·ª£ng tr√πng

In [237]:
# L·∫•y c√°c gi√° tr·ªã tr√πng l·∫∑p c·ªßa c·ªôt orderid 
orderid_duplicate = tickets['orderid'].duplicated(keep=False)
tickets.loc[orderid_duplicate].shape

(33039, 15)

=>> B·ªã tr√πng 33039 records

In [238]:
tickets_orderid_null = tickets[tickets['orderid'].isnull()]
tickets_orderid_null.head()

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn
23,NaN,Website,NaT,NaN,0000000228,20100926,2019-05-25,19:45:00,G09,3,ALADDIN (PD) (G),ƒê∆†N,Th√†nh vi√™n,45000,NaN
24,NaN,Website,NaT,NaN,0000000228,20100927,2019-05-25,19:45:00,G10,3,ALADDIN (PD) (G),ƒê∆†N,Th√†nh vi√™n,45000,NaN
580,NaN,Website,NaT,NaN,0000011318,20092413,2019-05-18,18:40:00,G09,1,POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13),ƒê∆†N,Th√†nh vi√™n,45000,NaN
581,NaN,Website,NaT,NaN,0000011318,20092412,2019-05-18,18:40:00,G08,1,POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13),ƒê∆†N,Th√†nh vi√™n,45000,NaN
582,NaN,Website,NaT,NaN,0000011318,20092411,2019-05-18,18:40:00,G07,1,POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13),ƒê∆†N,Th√†nh vi√™n,45000,NaN

In [239]:
tickets_orderid_null.shape

(96, 15)

=>> Nh·∫≠n ra l√† n·∫øu orderid null th√¨ saledate v√† total null, ngo√†i ra th√¨ cashier l√† website th√¨ orderid n√≥ s·∫Ω null =>> n√™n l√†m vi·ªác v·ªõi c·ªôt cashier

### ƒê·∫∑t l·∫°i c√°c orderid l·∫ßn l∆∞·ª£t l√† Web01,  Web02 ,... cho c√°c orderid null

In [240]:
# L·∫•y ch·ªâ s·ªë cho c√°c b·∫£n ghi m√† 'orderid' l√† null v√† s·∫Øp x·∫øp theo 'customerid' v√† 'date'
null_orderid_records = tickets[tickets['orderid'].isnull()].sort_values(by=['customerid', 'date'])

# T·∫°o m·ªôt bi·∫øn ƒë·ªÉ theo d√µi orderid hi·ªán t·∫°i v√† nh√≥m hi·ªán t·∫°i
current_orderid = 0
current_group = None

# T·∫°o orderid m·ªõi cho m·ªói b·∫£n ghi c√≥ orderid null
for index, row in null_orderid_records.iterrows():
    # Ki·ªÉm tra xem nh√≥m hi·ªán t·∫°i c√≥ kh√°c v·ªõi nh√≥m tr∆∞·ªõc ƒë√≥ kh√¥ng (d·ª±a tr√™n customerid v√† date)
    group = (row['customerid'], row['date'])
    if group != current_group:
        current_group = group
        current_orderid += 1  # Ch·ªâ tƒÉng orderid n·∫øu ch√∫ng ta c√≥ m·ªôt nh√≥m m·ªõi

    # ƒê·ªãnh d·∫°ng orderid m·ªõi v√† c·∫≠p nh·∫≠t trong DataFrame g·ªëc
    new_orderid = 'WEB' + str(current_orderid).zfill(2)
    tickets.at[index, 'orderid'] = new_orderid

# Lo·∫°i b·ªè c·ªôt group_id n·∫øu n√≥ t·ªìn t·∫°i
if 'group_id' in tickets.columns:
    tickets.drop('group_id', axis=1, inplace=True)

In [241]:
tickets["orderid"].isnull().values.any()

False

In [242]:
tickets[tickets["cashier"] == "Website"]

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn
23,WEB01,Website,NaT,NaN,0000000228,20100926,2019-05-25,19:45:00,G09,3,ALADDIN (PD) (G),ƒê∆†N,Th√†nh vi√™n,45000,NaN
24,WEB01,Website,NaT,NaN,0000000228,20100927,2019-05-25,19:45:00,G10,3,ALADDIN (PD) (G),ƒê∆†N,Th√†nh vi√™n,45000,NaN
580,WEB02,Website,NaT,NaN,0000011318,20092413,2019-05-18,18:40:00,G09,1,POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13),ƒê∆†N,Th√†nh vi√™n,45000,NaN
581,WEB02,Website,NaT,NaN,0000011318,20092412,2019-05-18,18:40:00,G08,1,POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13),ƒê∆†N,Th√†nh vi√™n,45000,NaN
582,WEB02,Website,NaT,NaN,0000011318,20092411,2019-05-18,18:40:00,G07,1,POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13),ƒê∆†N,Th√†nh vi√™n,45000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23102,WEB43,Website,NaT,NaN,0003008617,20106999,2019-05-30,21:35:00,H09,4,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,Th√†nh vi√™n,45000,NaN
23103,WEB43,Website,NaT,NaN,0003008617,20106998,2019-05-30,21:35:00,H08,4,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,Th√†nh vi√™n,45000,NaN
23106,WEB42,Website,NaT,NaN,0003008617,20091106,2019-05-17,20:15:00,F14,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,NaN
23107,WEB42,Website,NaT,NaN,0003008617,20091105,2019-05-17,20:15:00,F13,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,NaN
23108,WEB42,Website,NaT,NaN,0003008617,20091107,2019-05-17,20:15:00,F15,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,NaN

## L√†m vi·ªác v·ªõi c·ªôt cashier

In [243]:
print(tickets["cashier"].dtype)

object

In [244]:
tickets["cashier"].isnull().values.any()

False

=>> Kh√¥ng c√≥ null t·∫°i cashier

In [245]:
cashier = tickets['cashier'].unique()
print(cashier)

['emp002' 'emp011' 'emp005' 'emp007' 'emp006' 'Website' 'emp004' 'emp001'
 'emp009' 'emp012' 'emp008' 'emp010' 'emp014' 'emp003' 'emp015' 'emp013']

=>> C√≥ 1 tr∆∞·ªùng h·ª£p l√† cashier l√† Website =>> ƒë√¢y c√≥ th·ªÉ l√† tr∆∞·ªùng h·ª£p ƒë·∫∑t online , ƒë·ªìng th·ªùi t·ªïng c·ªông c√≥ 15 m√°y t√≠nh ti·ªÅn( ng∆∞·ªùi b√°n)

### Check xem ƒë√£ x·ª≠ l√Ω ƒë∆∞·ª£c tr∆∞·ªùng h·ª£p orderid null trong tr∆∞·ªùng h·ª£p cashier l√† website ch∆∞a

In [246]:
tickets[tickets["cashier"] == "Website"].tail()

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn
23102,WEB43,Website,NaT,NaN,0003008617,20106999,2019-05-30,21:35:00,H09,4,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,Th√†nh vi√™n,45000,NaN
23103,WEB43,Website,NaT,NaN,0003008617,20106998,2019-05-30,21:35:00,H08,4,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,Th√†nh vi√™n,45000,NaN
23106,WEB42,Website,NaT,NaN,0003008617,20091106,2019-05-17,20:15:00,F14,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,NaN
23107,WEB42,Website,NaT,NaN,0003008617,20091105,2019-05-17,20:15:00,F13,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,NaN
23108,WEB42,Website,NaT,NaN,0003008617,20091107,2019-05-17,20:15:00,F15,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,NaN

In [247]:
tickets[tickets["cashier"] == "Website"].head()

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn
23,WEB01,Website,NaT,NaN,0000000228,20100926,2019-05-25,19:45:00,G09,3,ALADDIN (PD) (G),ƒê∆†N,Th√†nh vi√™n,45000,NaN
24,WEB01,Website,NaT,NaN,0000000228,20100927,2019-05-25,19:45:00,G10,3,ALADDIN (PD) (G),ƒê∆†N,Th√†nh vi√™n,45000,NaN
580,WEB02,Website,NaT,NaN,0000011318,20092413,2019-05-18,18:40:00,G09,1,POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13),ƒê∆†N,Th√†nh vi√™n,45000,NaN
581,WEB02,Website,NaT,NaN,0000011318,20092412,2019-05-18,18:40:00,G08,1,POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13),ƒê∆†N,Th√†nh vi√™n,45000,NaN
582,WEB02,Website,NaT,NaN,0000011318,20092411,2019-05-18,18:40:00,G07,1,POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13),ƒê∆†N,Th√†nh vi√™n,45000,NaN

In [248]:
tickets[(tickets["cashier"] == "Website")]["orderid"].isnull().any()

False

=>> Kh√¥ng c√≤n gi√° tr·ªã null t·∫°i orderid n·∫øu cashier l√† website , ch·ªâ c√≤n t·∫°i popcorn , saledate v√† total

## L√†m vi·ªác v·ªõi customerid

In [249]:
print(tickets["customerid"].dtype)

object

In [250]:
tickets["customerid"].isnull().values.any()

False

=>> Kh√¥ng c√≥ gi√° tr·ªã null t·∫°i c·ªôt customerid

In [251]:
tickets['customerid'] = tickets['customerid'].apply(clean_custid)

In [252]:
customerid= tickets['customerid'].unique()
customerid

array(['0000000014', '0000000034', '0000000051', ..., 'WEBS00000043900',
       'WEBS00000044909', 'WEBS00000046015'], dtype=object)

=>> Customerid kh√¥ng theo quy t·∫Øc chung

In [253]:
customerid_count = tickets['customerid'].value_counts()
print(customerid_count)

customerid
KH6166700     10132
0000029127     7105
0001121703      507
KH3742976        54
0003004563       52
              ...
0001023931        1
0001023923        1
0001165762        1
0001168337        1
0000027879        1
Name: count, Length: 4479, dtype: int64

=>> C√≥ m·ªôt s·ªë kh√°ch h√†ng chi·∫øm r·∫•t nhi·ªÅu l∆∞·ª£t mua ( mua nhi·ªÅu ) tr√™n t·ªïng s·ªë l∆∞·ª£t mua c·ªßa r·∫°p , ƒëi·ªÉn h√¨nh l√† kh√°ch h√†ng c√≥ m√£ KH6166700 v·ªõi 10132 , chi·∫øm g·∫ßn 1/3, ƒë·ªìng th·ªùi kh√°ch h√†ng c√≥ customerid l√† 7105 c≈©ng chi·∫øm r·∫•t nhi·ªÅu ,tuy nhi√™n l·∫°i c√≥ m·ªôt s·ªë kh√°ch h√†ng c√≥ r·∫•t √≠t , ch·ªâ c√≥ 1 l·∫ßn mua v√©. N√™n l√† c√≥ th·ªÉ ph√¢n t√≠ch m·ªôt s·ªë kh√°ch h√†ng mua v√© nhi·ªÅu ( t·∫°i sao mua v√© nhi·ªÅu, l√Ω do mua v√© , mua nhi·ªÅu v·∫≠y c√≥ khi n√≤ l√† t·ªï ch·ª©c ho·∫∑c fan bao r·∫°p ho·∫∑c c√≥ th·ªÉ l√† m·∫•y ng∆∞·ªùi ƒë·∫∑t h·ªô ?)

In [254]:
tickets[tickets['customerid'] == 'KH6166700'].groupby('film')['customerid'].count()

film
(LT) DORAEMON: NOBITA V√Ä M·∫∂T TRƒÇNG PHI√äU L∆ØU K√ù (G)     230
(Pƒê) DORAEMON: NOBITA V√Ä M·∫∂T TRƒÇNG PHI√äU L∆ØU K√ù (G)      14
ALADDIN (LT) (G)                                        311
ALADDIN (PD) (G)                                        217
AVENGERS: H·ªíI K·∫æT                                      2026
CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13)                 287
C√Ä CH·ªöN ANH ƒê·ª™NG ƒêI                                      59
JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18)                 883
L·∫¨T M·∫∂T: NH√Ä C√ì KH√ÅCH                                   152
M·∫∏ MA THAN KH√ìC LA LLORONA (C18)                       3305
NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18)                                  813
N·ª§ H√îN MA QU√ÅI (C18)                                     47
POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13)                          922
QU√ù C√î L·ª™A ƒê·∫¢O                                           55
TH·∫∞NG EM L√ù T∆Ø·ªûNG                                       205
V√î GIAN ƒê·∫†O (C18)                                       134
V·ª¢ BA                                                   149
∆Ø·ªöC H·∫∏N M√ôA THU                                         323
Name: customerid, dtype: int64

=>> ƒê·∫∑t nhi·ªÅu nh·∫•t t·∫°i 2 phim Me Ma than kh√≥c La LLORONA v√† Avenger

### T√°ch ra 2 dataframe nh·ªè l√† customerid c√≥ webs v√† kh√¥ng c√≥ web

In [255]:
tickets_without_webs = tickets[tickets['customerid'].apply(lambda x: not x.startswith('WEBS'))]
tickets_with_webs = tickets[tickets['customerid'].apply(lambda x: x.startswith('WEBS'))]

In [256]:
tickets_without_webs.head()

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn
0,10006052019B0225,emp002,2019-05-06 16:40:43,90000.0,0000000014,20074925,2019-05-06,18:15:00,G04,3,AVENGERS: H·ªíI K·∫æT,ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng
1,10006052019B0225,emp002,2019-05-06 16:40:43,90000.0,0000000014,20074924,2019-05-06,18:15:00,G03,3,AVENGERS: H·ªíI K·∫æT,ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng
2,10022052019B0167,emp011,2019-05-22 20:30:28,90000.0,0000000034,20097042,2019-05-22,20:45:00,E04,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng
3,10022052019B0167,emp011,2019-05-22 20:30:28,90000.0,0000000034,20097041,2019-05-22,20:45:00,E03,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng
4,10130052019B0141,emp005,2019-05-30 19:28:44,90000.0,0000000034,20106761,2019-05-30,19:30:00,F04,1,NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng

In [257]:
tickets_without_webs.shape

(35465, 15)

In [258]:
tickets_with_webs

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn
35465,10009052019B0331,emp008,2019-05-09 21:00:51,90000.0,WEBS00000043900,20079496,2019-05-09,22:25:00,H03,2,M·∫∏ MA THAN KH√ìC LA LLORONA (C18),ƒê√îI,Th√†nh vi√™n,90000,Kh√¥ng
35466,10009052019B0332,emp008,2019-05-09 21:13:47,90000.0,WEBS00000043900,20079501,2019-05-09,21:30:00,F10,3,∆Ø·ªöC H·∫∏N M√ôA THU,ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng
35467,10009052019B0332,emp008,2019-05-09 21:13:47,90000.0,WEBS00000043900,20079502,2019-05-09,21:30:00,F11,3,∆Ø·ªöC H·∫∏N M√ôA THU,ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng
35468,10130052019B0192,emp005,2019-05-30 21:49:46,180000.0,WEBS00000044909,20107070,2019-05-30,21:35:00,B08,4,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng
35469,10130052019B0192,emp005,2019-05-30 21:49:46,180000.0,WEBS00000044909,20107072,2019-05-30,21:35:00,B10,4,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng
35470,10130052019B0192,emp005,2019-05-30 21:49:46,180000.0,WEBS00000044909,20107071,2019-05-30,21:35:00,B09,4,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng
35471,10130052019B0192,emp005,2019-05-30 21:49:46,180000.0,WEBS00000044909,20107069,2019-05-30,21:35:00,B07,4,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng
35472,12508052019B0036,emp007,2019-05-08 19:26:47,90000.0,WEBS00000046015,20077797,2019-05-08,19:15:00,C14,4,AVENGERS: H·ªíI K·∫æT,ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng
35473,12508052019B0036,emp007,2019-05-08 19:26:47,90000.0,WEBS00000046015,20077796,2019-05-08,19:15:00,C13,4,AVENGERS: H·ªíI K·∫æT,ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng

In [259]:
tickets_with_webs.shape

(9, 15)

=>> C√≥ s·ª± ch√™nh l·ªách qu√° r√µ r√†ng gi·ªØa customerid c√≥ webs l√† kh√¥ng webs ? Nh·∫≠n x√©t xem th·ª≠ l√† n·∫øu customerid c√≥ web th√¨ c√≥ ph·∫£i l√† ch·ªâ ·ªü emp005 , 007 v√† 008 kh√¥ng ? T·ª©c l√† c√≥ ph·∫£i ch·ªâ 3 th·∫±ng ni chuy√™n s√†i cho customerid c√≥ webs ko ?

#### Ki·ªÉm tra th·ª≠ idea tr√™n c√≥ ƒë√∫ng kh√¥ng ?

In [260]:
# Ki·ªÉm tra trong tickets_with_webs
with_webs_cashiers = set(tickets_with_webs['cashier'].unique())
expected_cashiers = {'emp005', 'emp007', 'emp008'}
is_match_with_webs = expected_cashiers.issubset(with_webs_cashiers)

# Ki·ªÉm tra trong tickets_without_webs
without_webs_cashiers = set(tickets_without_webs['cashier'].unique())
is_match_without_webs = expected_cashiers.issubset(without_webs_cashiers)

print("Cashiers in tickets_with_webs:", is_match_with_webs)
print("Cashiers in tickets_without_webs:", is_match_without_webs)

Cashiers in tickets_with_webs: True
Cashiers in tickets_without_webs: True

==>> Idea tr√™n b·ªã sai =>> lo·∫°i b·ªè √Ω t∆∞·ªüng

## L√†m vi·ªác v·ªõi c·ªôt popcorn

In [261]:
print(tickets["popcorn"].dtype)

object

In [262]:
tickets["popcorn"].isnull().values.any()

True

In [263]:
tickets['popcorn'].fillna('Website/Li√™n h·ªá t·∫°i qu·∫ßy', inplace=True)

In [264]:
popcorn_vals = tickets['popcorn'].value_counts()
popcorn_vals

popcorn
Kh√¥ng                       35287
Website/Li√™n h·ªá t·∫°i qu·∫ßy       96
C√≥                             91
Name: count, dtype: int64

=>> ƒêa ph·∫ßn kh√¥ng mua Popcorn

## L√†m vi·ªác v·ªõi c·ªôt saledate

### T√°ch c·ªôt saledate ra th√†nh c·ªôt Saletime v√† Saledate (saledate ch·ªâ ƒë·ªÉ l·∫°i d·∫°ng d·ªØ li·ªáu year-month-date)

In [265]:
print(tickets["saledate"].dtype)

datetime64[ns]

In [266]:
tickets["saledate"].isnull().values.any()

True

=>> C√≥ null ·ªü saledate

In [267]:
# T√°ch th√†nh c·ªôt time
tickets["saletime"] = tickets["saledate"].dt.time

# T√°ch th√†nh c·ªôt date v·ªõi ƒë·ªãnh d·∫°ng year-month-date    
tickets["saledate"] = tickets["saledate"].dt.strftime("%Y-%m-%d")

In [268]:
tickets.head()

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn,saletime
0,10006052019B0225,emp002,2019-05-06,90000.0,0000000014,20074925,2019-05-06,18:15:00,G04,3,AVENGERS: H·ªíI K·∫æT,ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,16:40:43
1,10006052019B0225,emp002,2019-05-06,90000.0,0000000014,20074924,2019-05-06,18:15:00,G03,3,AVENGERS: H·ªíI K·∫æT,ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,16:40:43
2,10022052019B0167,emp011,2019-05-22,90000.0,0000000034,20097042,2019-05-22,20:45:00,E04,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,20:30:28
3,10022052019B0167,emp011,2019-05-22,90000.0,0000000034,20097041,2019-05-22,20:45:00,E03,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,20:30:28
4,10130052019B0141,emp005,2019-05-30,90000.0,0000000034,20106761,2019-05-30,19:30:00,F04,1,NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,19:28:44

In [269]:
saledate_null = tickets['saledate'].isnull().sum() 

print(saledate_null)

96

=>> Nh·ªØng c·ªôt saledate null th√¨ v·∫´n nh∆∞ l√†m vi·ªác ·ªü tr√™n , n·∫øu cashier l√† website th√¨ saledate null =>> nh·∫≠n ra l√† saledate b·∫±ng date =>> g√°n nh·ªØng gi√° tr·ªã null c·ªßa saledate b·∫±ng gi√° tr·ªã c·ªßa date

### G√°n gi√° tr·ªã

In [270]:

tickets[tickets['saledate'].isnull()]

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn,saletime
23,WEB01,Website,NaN,NaN,0000000228,20100926,2019-05-25,19:45:00,G09,3,ALADDIN (PD) (G),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,NaN
24,WEB01,Website,NaN,NaN,0000000228,20100927,2019-05-25,19:45:00,G10,3,ALADDIN (PD) (G),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,NaN
580,WEB02,Website,NaN,NaN,0000011318,20092413,2019-05-18,18:40:00,G09,1,POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,NaN
581,WEB02,Website,NaN,NaN,0000011318,20092412,2019-05-18,18:40:00,G08,1,POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,NaN
582,WEB02,Website,NaN,NaN,0000011318,20092411,2019-05-18,18:40:00,G07,1,POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23102,WEB43,Website,NaN,NaN,0003008617,20106999,2019-05-30,21:35:00,H09,4,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,NaN
23103,WEB43,Website,NaN,NaN,0003008617,20106998,2019-05-30,21:35:00,H08,4,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,NaN
23106,WEB42,Website,NaN,NaN,0003008617,20091106,2019-05-17,20:15:00,F14,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,NaN
23107,WEB42,Website,NaN,NaN,0003008617,20091105,2019-05-17,20:15:00,F13,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,NaN
23108,WEB42,Website,NaN,NaN,0003008617,20091107,2019-05-17,20:15:00,F15,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,NaN

In [271]:
# Chuy·ªÉn ƒë·ªïi c·ªôt 'date' th√†nh ki·ªÉu Timestamp
tickets['date'] = pd.to_datetime(tickets['date'])

# Thay th·∫ø c√°c gi√° tr·ªã NaN trong 'saledate' b·∫±ng c√°c gi√° tr·ªã t·ª´ c·ªôt 'date'
tickets['saledate'].fillna(tickets['date'], inplace=True)

In [272]:
# L·ªçc DataFrame ƒë·ªÉ ch·ªâ l·∫•y nh·ªØng b·∫£n ghi c√≥ 'cashier' l√† 'Website'
website_records = tickets[tickets['cashier'] == 'Website']

# C·∫≠p nh·∫≠t c·ªôt 'saledate' ƒë·ªÉ ch·ªâ gi·ªØ l·∫°i ph·∫ßn ng√†y
tickets.loc[website_records.index, 'saledate'] = tickets.loc[website_records.index, 'saledate'].apply(lambda x: x.normalize().date())

In [273]:
tickets[tickets["cashier"] == "Website"].head()

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn,saletime
23,WEB01,Website,2019-05-25,NaN,0000000228,20100926,2019-05-25,19:45:00,G09,3,ALADDIN (PD) (G),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,NaT
24,WEB01,Website,2019-05-25,NaN,0000000228,20100927,2019-05-25,19:45:00,G10,3,ALADDIN (PD) (G),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,NaT
580,WEB02,Website,2019-05-18,NaN,0000011318,20092413,2019-05-18,18:40:00,G09,1,POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,NaT
581,WEB02,Website,2019-05-18,NaN,0000011318,20092412,2019-05-18,18:40:00,G08,1,POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,NaT
582,WEB02,Website,2019-05-18,NaN,0000011318,20092411,2019-05-18,18:40:00,G07,1,POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,NaT

In [274]:
tickets[tickets["cashier"] == "Website"].tail()

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn,saletime
23102,WEB43,Website,2019-05-30,NaN,0003008617,20106999,2019-05-30,21:35:00,H09,4,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,NaT
23103,WEB43,Website,2019-05-30,NaN,0003008617,20106998,2019-05-30,21:35:00,H08,4,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,NaT
23106,WEB42,Website,2019-05-17,NaN,0003008617,20091106,2019-05-17,20:15:00,F14,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,NaT
23107,WEB42,Website,2019-05-17,NaN,0003008617,20091105,2019-05-17,20:15:00,F13,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,NaT
23108,WEB42,Website,2019-05-17,NaN,0003008617,20091107,2019-05-17,20:15:00,F15,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,NaT

In [275]:
tickets["saledate"].isnull().values.any()

False

=>> Kh√¥ng c√≤n null

## L√†m vi·ªác v·ªõi c·ªôt ticket price

In [276]:
tickets["ticket price"].isnull().values.any()

False

=>> kh√¥ng c√≥ null

In [277]:
ticket_price= tickets['ticket price'].unique()
ticket_price

array([ 45000,  90000,  75000, 160000,      0], dtype=int64)

=>> C√≥ 5 m·ª©c gi√° l√† 45000, 90000,75000 v√† 160000 v√† cu·ªëi c√πng l√† gi√° v√© b·∫±ng 0 (n√™n ki·ªÉm tra gi√° v√© t·∫°i sao b·∫±ng 0)

### Ki·ªÉm tra 5 m·ª©c v√© c√≥ ƒë·∫∑c ƒëi·ªÉm g√¨

#### V·ªõi gi√° v√© l√† 45000

In [278]:
selection_tickets = tickets[tickets['ticket price'] == 45000][['slot', 'room','time','film','slot type','saledate']]
selection_tickets

,slot,room,time,film,slot type,saledate
0,G04,3,18:15:00,AVENGERS: H·ªíI K·∫æT,ƒê∆†N,2019-05-06
1,G03,3,18:15:00,AVENGERS: H·ªíI K·∫æT,ƒê∆†N,2019-05-06
2,E04,2,20:45:00,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,2019-05-22
3,E03,2,20:45:00,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,2019-05-22
4,F04,1,19:30:00,NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18),ƒê∆†N,2019-05-30
...,...,...,...,...,...,...
35469,B10,4,21:35:00,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,2019-05-30
35470,B09,4,21:35:00,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,2019-05-30
35471,B07,4,21:35:00,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,2019-05-30
35472,C14,4,19:15:00,AVENGERS: H·ªíI K·∫æT,ƒê∆†N,2019-05-08
35473,C13,4,19:15:00,AVENGERS: H·ªíI K·∫æT,ƒê∆†N,2019-05-08

In [279]:
# L·ªçc nh·ªØng d√≤ng c√≥ 'ticket price' b·∫±ng 45000
filtered_tickets_45 = tickets[tickets['ticket price'] == 45000]

# L·∫•y gi√° tr·ªã duy nh·∫•t c·ªßa 'slot' v√† 'room' t·ª´ nh·ªØng d√≤ng ƒë√£ l·ªçc
unique_slots = filtered_tickets_45['slot'].unique()
unique_rooms = filtered_tickets_45['room'].unique()
unique_film=filtered_tickets_45['film'].unique()
unique_slot_type=filtered_tickets_45['slot type'].unique()
(unique_slots, unique_rooms,unique_film,unique_slot_type)

(array(['G04', 'G03', 'E04', 'E03', 'F04', 'F03', 'E11', 'E10', 'F14',
        'F15', 'H03', 'H04', 'E09', 'D10', 'D09', 'G09', 'G08', 'G07',
        'G10', 'I13', 'I12', 'H10', 'H09', 'K07', 'K06', 'E07', 'E08',
        'F06', 'F05', 'I06', 'I04', 'I05', 'D03', 'D02', 'D01', 'E12',
        'H15', 'H16', 'H02', 'H01', 'A08', 'A10', 'E01', 'A09', 'A12',
        'A11', 'F01', 'I11', 'I10', 'F07', 'F08', 'I14', 'I15', 'I08',
        'I07', 'I09', 'H13', 'H11', 'H12', 'F10', 'F09', 'E06', 'B13',
        'I02', 'I01', 'H08', 'H05', 'H14', 'E16', 'E15', 'E17', 'H17',
        'G16', 'G15', 'G17', 'G02', 'G01', 'J10', 'J09', 'J11', 'E13',
        'B04', 'B03', 'G11', 'G12', 'F12', 'F11', 'E02', 'B07', 'B06',
        'G13', 'I16', 'K09', 'K10', 'C11', 'G14', 'J12', 'J13', 'J14',
        'J15', 'D08', 'G05', 'G06', 'D11', 'F13', 'H06', 'D13', 'D15',
        'D14', 'D06', 'D07', 'E05', 'D12', 'J08', 'J07', 'K02', 'K01',
        'E14', 'F02', 'A13', 'B16', 'B15', 'D05', 'I03', 'F16', 'K11',
        'C01', 'C02', 'K04', 'K03', 'K05', 'D04', 'J16', 'C05', 'C04',
        'D16', 'K19', 'K18', 'B01', 'B02', 'C03', 'K08', 'H07', 'J03',
        'J05', 'J06', 'J04', 'J02', 'A06', 'A05', 'A07', 'C06', 'J01',
        'D17', 'C16', 'C08', 'C07', 'C12', 'C09', 'C10', 'F17', 'I17',
        'C13', 'C15', 'C14', 'A14', 'A15', 'K12', 'B12', 'B11', 'B10',
        'B14', 'K13', 'K15', 'K14', 'K17', 'B09', 'B08', 'A01', 'I18',
        'A02', 'A04', 'A03', 'A16', 'B17', 'B05', 'K16', 'C17', 'A17',
        'I19'], dtype=object),
 array([3, 2, 1, 4], dtype=int64),
 array(['AVENGERS: H·ªíI K·∫æT', 'JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18)',
        'NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18)', 'V√î GIAN ƒê·∫†O (C18)', 'ALADDIN (PD) (G)',
        'M·∫∏ MA THAN KH√ìC LA LLORONA (C18)',
        'POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13)', 'ALADDIN (LT) (G)',
        'TH·∫∞NG EM L√ù T∆Ø·ªûNG', '∆Ø·ªöC H·∫∏N M√ôA THU', 'QU√ù C√î L·ª™A ƒê·∫¢O',
        'CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13)',
        '(LT) DORAEMON: NOBITA V√Ä M·∫∂T TRƒÇNG PHI√äU L∆ØU K√ù (G)',
        'L·∫¨T M·∫∂T: NH√Ä C√ì KH√ÅCH', 'V·ª¢ BA',
        '(Pƒê) DORAEMON: NOBITA V√Ä M·∫∂T TRƒÇNG PHI√äU L∆ØU K√ù (G)',
        'N·ª§ H√îN MA QU√ÅI (C18)', 'CORGI: NH·ªÆNG CH√ö CH√ì HO√ÄNG GIA (LT)',
        'C√Ä CH·ªöN ANH ƒê·ª™NG ƒêI'], dtype=object),
 array(['ƒê∆†N'], dtype=object))

#### Khi gi√° v√© l√† 90000

In [280]:
selection = tickets[tickets['ticket price'] == 90000][['slot', 'room','time','film','slot type','saledate']]
selection

,slot,room,time,film,slot type,saledate
18,H09,2,20:20:00,NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18),ƒê√îI,2019-05-28
22,J04,1,22:30:00,M·∫∏ MA THAN KH√ìC LA LLORONA (C18),ƒê√îI,2019-05-15
31,J05,1,12:40:00,NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18),ƒê√îI,2019-05-30
34,H03,2,16:40:00,M·∫∏ MA THAN KH√ìC LA LLORONA (C18),ƒê√îI,2019-05-10
111,H05,2,12:10:00,V√î GIAN ƒê·∫†O (C18),ƒê√îI,2019-05-24
...,...,...,...,...,...,...
35431,H02,2,13:05:00,L·∫¨T M·∫∂T: NH√Ä C√ì KH√ÅCH,ƒê√îI,2019-05-06
35432,J05,1,09:20:00,POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13),ƒê√îI,2019-05-17
35433,J09,1,20:40:00,M·∫∏ MA THAN KH√ìC LA LLORONA (C18),ƒê√îI,2019-05-16
35461,J08,1,20:00:00,ALADDIN (LT) (G),ƒê√îI,2019-05-23
35465,H03,2,22:25:00,M·∫∏ MA THAN KH√ìC LA LLORONA (C18),ƒê√îI,2019-05-09

In [281]:
# L·ªçc nh·ªØng d√≤ng c√≥ 'ticket price' b·∫±ng 90000
filtered_tickets_90 = tickets[tickets['ticket price'] == 90000]

# L·∫•y gi√° tr·ªã duy nh·∫•t c·ªßa 'slot' v√† 'room' t·ª´ nh·ªØng d√≤ng ƒë√£ l·ªçc
unique_slots = filtered_tickets_90['slot'].unique()
unique_rooms = filtered_tickets_90['room'].unique()
unique_film=filtered_tickets_90['film'].unique()
unique_slot_type=filtered_tickets_90['slot type'].unique()
(unique_slots, unique_rooms,unique_film,unique_slot_type)

(array(['H09', 'J04', 'J05', 'H03', 'H05', 'H06', 'J07', 'J06', 'J03',
        'J02', 'H07', 'H04', 'J01', 'J08', 'H02', 'H08', 'J09', 'H01'],
       dtype=object),
 array([2, 1], dtype=int64),
 array(['NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18)', 'M·∫∏ MA THAN KH√ìC LA LLORONA (C18)',
        'V√î GIAN ƒê·∫†O (C18)', '∆Ø·ªöC H·∫∏N M√ôA THU',
        'POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13)', 'AVENGERS: H·ªíI K·∫æT',
        'CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13)', 'TH·∫∞NG EM L√ù T∆Ø·ªûNG',
        'L·∫¨T M·∫∂T: NH√Ä C√ì KH√ÅCH', 'ALADDIN (LT) (G)',
        '(LT) DORAEMON: NOBITA V√Ä M·∫∂T TRƒÇNG PHI√äU L∆ØU K√ù (G)',
        'ALADDIN (PD) (G)', 'JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18)',
        'V·ª¢ BA', 'N·ª§ H√îN MA QU√ÅI (C18)', 'QU√ù C√î L·ª™A ƒê·∫¢O'], dtype=object),
 array(['ƒê√îI'], dtype=object))

#### =>> C√≥ 1 nh·∫≠n x√©t l√† gi√° v√© ƒë∆°n v√†o c√°c ng√†y th∆∞·ªùng s·∫Ω l√† 45000 v√† gi√° v√© ƒë√¥i s·∫Ω 90000. Hai gi√° v√© n√†y l√† √°p d·ª•ng cho ng√†y b√¨nh th∆∞·ªùng, kh√¥ng ph·∫£i d·ªãp l·ªÖ. ƒê·ªìng th·ªùi , c√°c v√© ƒë∆°n ƒë∆∞·ª£c √°p d·ª•ng cho m·ªçi ph√≤ng chi·∫øu , t·ª©c l√† c·∫£ 4 ph√≤ng chi·∫øu , tuy nhi√™n v√© ƒë√¥i ch·ªâ l√† √°p d·ª•ng cho 2 ph√≤ng chi·∫øu phim l√† ph√≤ng s·ªë 1 v√† ph√≤ng s·ªë 2. ƒê·ªìng th·ªùi gi√° v√© ƒë√¥i ch·ªâ √°p d·ª•ng cho c√°c v√© vip , v√≠ d·ª• nh∆∞ l√† c√°c gh√™ ·ªü h√†ng H v√† h√†ng J

#### Khi gi√° v√© l√† 75000

In [282]:
selection = tickets[tickets['ticket price'] == 75000][['slot', 'room','time','film','slot type','saledate']]
selection

      slot  room      time               film slot type    saledate
1189   D16     4  20:00:00  AVENGERS: H·ªíI K·∫æT       ƒê∆†N  2019-05-01
1190   D15     4  20:00:00  AVENGERS: H·ªíI K·∫æT       ƒê∆†N  2019-05-01
1800   E10     2  07:30:00  AVENGERS: H·ªíI K·∫æT       ƒê∆†N  2019-05-01
1973   G14     1  18:30:00  AVENGERS: H·ªíI K·∫æT       ƒê∆†N  2019-05-01
1974   G15     1  18:30:00  AVENGERS: H·ªíI K·∫æT       ƒê∆†N  2019-05-01
...    ...   ...       ...                ...       ...         ...
35148  J02     4  10:15:00  AVENGERS: H·ªíI K·∫æT       ƒê∆†N  2019-05-01
35149  J01     4  10:15:00  AVENGERS: H·ªíI K·∫æT       ƒê∆†N  2019-05-01
35150  H16     3  16:00:00  AVENGERS: H·ªíI K·∫æT       ƒê∆†N  2019-05-01
35398  F12     3  12:30:00  AVENGERS: H·ªíI K·∫æT       ƒê∆†N  2019-05-01
35399  F13     3  12:30:00  AVENGERS: H·ªíI K·∫æT       ƒê∆†N  2019-05-01

[799 rows x 6 columns]

In [283]:
# L·ªçc nh·ªØng d√≤ng c√≥ 'ticket price' b·∫±ng 75000
filtered_tickets_75 = tickets[tickets['ticket price'] == 75000]

# L·∫•y gi√° tr·ªã duy nh·∫•t c·ªßa 'slot' v√† 'room' t·ª´ nh·ªØng d√≤ng ƒë√£ l·ªçc
unique_slots = filtered_tickets_75['slot'].unique()
unique_rooms = filtered_tickets_75['room'].unique()
unique_film=filtered_tickets_75['film'].unique()
unique_slot_type=filtered_tickets_75['slot type'].unique()
(unique_slots, unique_rooms,unique_film,unique_slot_type)

(array(['D16', 'D15', 'E10', 'G14', 'G15', 'C12', 'C13', 'C14', 'K11',
        'K12', 'C11', 'C15', 'G07', 'G08', 'G06', 'I15', 'I16', 'I04',
        'I03', 'H01', 'H02', 'B01', 'I13', 'I12', 'I06', 'I05', 'K19',
        'K18', 'F01', 'F02', 'E01', 'I11', 'E03', 'F03', 'E02', 'E04',
        'E05', 'E06', 'E09', 'E08', 'E07', 'K08', 'K09', 'K07', 'K10',
        'E17', 'E16', 'D03', 'D02', 'D01', 'F04', 'E11', 'D05', 'G01',
        'E12', 'D06', 'D04', 'D11', 'D12', 'D14', 'D17', 'D13', 'H07',
        'B14', 'B13', 'H08', 'E15', 'F10', 'F11', 'F07', 'F08', 'F09',
        'C16', 'C17', 'G05', 'A13', 'A14', 'B16', 'B17', 'F15', 'F14',
        'F16', 'F17', 'H06', 'G16', 'G17', 'C04', 'C03', 'D10', 'D07',
        'C06', 'C05', 'J03', 'J04', 'F12', 'K02', 'B10', 'B09', 'H11',
        'H12', 'E13', 'E14', 'F06', 'F05', 'D09', 'G04', 'G03', 'K06',
        'I14', 'K05', 'H15', 'H16', 'C09', 'C08', 'C10', 'C07', 'D08',
        'H03', 'H04', 'H05', 'C02', 'C01', 'B02', 'H09', 'H10', 'I08',
        'I07', 'G11', 'G12', 'K15', 'K14', 'G02', 'J09', 'J10', 'G09',
        'G10', 'I09', 'I10', 'I01', 'F13', 'K04', 'K03', 'H13', 'H14',
        'B15', 'I02', 'B04', 'B06', 'B03', 'B05', 'B07', 'A17', 'A16',
        'J08', 'J07', 'H17', 'A03', 'A04', 'K16', 'K17', 'A11', 'A10',
        'J05', 'B11', 'G13', 'K13', 'J11', 'A01', 'B08', 'B12', 'J02',
        'J01', 'A09', 'A02'], dtype=object),
 array([4, 2, 1, 3], dtype=int64),
 array(['AVENGERS: H·ªíI K·∫æT', 'M·∫∏ MA THAN KH√ìC LA LLORONA (C18)'],
       dtype=object),
 array(['ƒê∆†N'], dtype=object))

#### Khi gi√° v√© l√† 160000

In [284]:
selection = tickets[tickets['ticket price'] == 160000][['slot', 'room','time','film','slot type','saledate']]
selection

,slot,room,time,film,slot type,saledate
1799,H05,2,07:30:00,AVENGERS: H·ªíI K·∫æT,ƒê√îI,2019-05-01
11520,H07,2,14:05:00,AVENGERS: H·ªíI K·∫æT,ƒê√îI,2019-05-01
11525,J04,1,12:00:00,AVENGERS: H·ªíI K·∫æT,ƒê√îI,2019-05-01
16977,H09,2,14:05:00,AVENGERS: H·ªíI K·∫æT,ƒê√îI,2019-05-01
24280,J08,1,12:00:00,AVENGERS: H·ªíI K·∫æT,ƒê√îI,2019-05-01
24281,J09,1,12:00:00,AVENGERS: H·ªíI K·∫æT,ƒê√îI,2019-05-01
24288,J01,1,12:00:00,AVENGERS: H·ªíI K·∫æT,ƒê√îI,2019-05-01
32322,J07,1,08:45:00,AVENGERS: H·ªíI K·∫æT,ƒê√îI,2019-05-01
32343,J06,1,12:00:00,AVENGERS: H·ªíI K·∫æT,ƒê√îI,2019-05-01
32344,J07,1,12:00:00,AVENGERS: H·ªíI K·∫æT,ƒê√îI,2019-05-01
32359,J02,1,08:45:00,AVENGERS: H·ªíI K·∫æT,ƒê√îI,2019-05-01
32360,H06,2,14:05:00,AVENGERS: H·ªíI K·∫æT,ƒê√îI,2019-05-01
32432,H04,2,17:20:00,M·∫∏ MA THAN KH√ìC LA LLORONA (C18),ƒê√îI,2019-05-01
32476,J06,1,08:45:00,AVENGERS: H·ªíI K·∫æT,ƒê√îI,2019-05-01
32477,J03,1,08:45:00,AVENGERS: H·ªíI K·∫æT,ƒê√îI,2019-05-01
32495,J09,1,15:15:00,AVENGERS: H·ªíI K·∫æT,ƒê√îI,2019-05-01
32517,J08,1,21:45:00,AVENGERS: H·ªíI K·∫æT,ƒê√îI,2019-05-01
32616,H02,2,17:20:00,M·∫∏ MA THAN KH√ìC LA LLORONA (C18),ƒê√îI,2019-05-01
32628,J05,1,12:00:00,AVENGERS: H·ªíI K·∫æT,ƒê√îI,2019-05-01
32643,J02,1,15:15:00,AVENGERS: H·ªíI K·∫æT,ƒê√îI,2019-05-01
34025,J09,1,21:45:00,AVENGERS: H·ªíI K·∫æT,ƒê√îI,2019-05-01
34034,H01,2,21:05:00,M·∫∏ MA THAN KH√ìC LA LLORONA (C18),ƒê√îI,2019-05-01
34075,H02,2,21:05:00,M·∫∏ MA THAN KH√ìC LA LLORONA (C18),ƒê√îI,2019-05-01
34103,H06,2,07:30:00,AVENGERS: H·ªíI K·∫æT,ƒê√îI,2019-05-01
34111,H04,2,10:45:00,AVENGERS: H·ªíI K·∫æT,ƒê√îI,2019-05-01
34114,J06,1,15:15:00,AVENGERS: H·ªíI K·∫æT,ƒê√îI,2019-05-01
34115,H07,2,17:20:00,M·∫∏ MA THAN KH√ìC LA LLORONA (C18),ƒê√îI,2019-05-01
34160,H05,2,23:00:00,M·∫∏ MA THAN KH√ìC LA LLORONA (C18),ƒê√îI,2019-05-01

In [285]:
# L·ªçc nh·ªØng d√≤ng c√≥ 'ticket price' b·∫±ng 160000
filtered_tickets_160 = tickets[tickets['ticket price'] == 160000]

# L·∫•y gi√° tr·ªã duy nh·∫•t c·ªßa 'slot' v√† 'room' t·ª´ nh·ªØng d√≤ng ƒë√£ l·ªçc
unique_slots = filtered_tickets_160['slot'].unique()
unique_rooms = filtered_tickets_160['room'].unique()
unique_film=filtered_tickets_160['film'].unique()
unique_slot_type=filtered_tickets_160['slot type'].unique()
(unique_slots, unique_rooms,unique_film,unique_slot_type)

(array(['H05', 'H07', 'J04', 'H09', 'J08', 'J09', 'J01', 'J07', 'J06',
        'J02', 'H06', 'H04', 'J03', 'H02', 'J05', 'H01'], dtype=object),
 array([2, 1], dtype=int64),
 array(['AVENGERS: H·ªíI K·∫æT', 'M·∫∏ MA THAN KH√ìC LA LLORONA (C18)'],
       dtype=object),
 array(['ƒê√îI'], dtype=object))

#### =>> Nh·∫≠n x√©t : V√†o d·ªãp l·ªÖ ( ng√†y qu·ªëc kh√°nh ng√†y 1/5/2019) th√¨ gi√° v√© c√≥ s·ª± tƒÉng l√™n, c·ª• th·ªÉ l√† gi√° v√© ƒë∆°n l√† 75000 v√† gi√° v√© ƒë√¥i l√† 160000. C≈©ng nh∆∞ nh·ªØng ng√†y b√¨nh th∆∞·ªùng th√¨ ph√≤ng v√© √°p d·ª•ng ƒë∆∞·ª£c gh·∫ø ƒë√¥i l√† ph√≤ng 1 v√† ph√≤ng 2 . V√†o ng√†y l·ªÖ th√¨ ch·ªâ chi·∫øu 2 phim l√† Avenger v√† Me ma than kh√≥c l√† ƒë∆∞·ª£c xem v√†o d·ªãp l·ªÖ

#### Ki·ªÉm tra gi√° v√© b·∫±ng 0

In [286]:
selection = tickets[tickets['ticket price'] == 0][['slot', 'room','time','film','slot type','saledate','orderid']]
selection

,slot,room,time,film,slot type,saledate,orderid
7327,D11,4,17:25:00,NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18),ƒê∆†N,2019-05-26,10126052019B0123

=>>> Ki·ªÉm tra th·ª≠ customerid k√®m theo l√† film v√† slot type

In [287]:
tickets.loc[tickets['ticket price'] == 0, 'customerid']

7327    0000029127
Name: customerid, dtype: object

In [288]:
tickets[tickets['customerid'] == '0000029127']

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn,saletime
2464,10102052019B0049,emp011,2019-05-02,45000.0,0000029127,20071445,2019-05-02,18:15:00,B17,3,AVENGERS: H·ªíI K·∫æT,ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,18:19:25
2465,10102052019B0081,emp011,2019-05-02,90000.0,0000029127,20071650,2019-05-02,20:20:00,A05,2,AVENGERS: H·ªíI K·∫æT,ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,19:50:20
2466,10102052019B0081,emp011,2019-05-02,90000.0,0000029127,20071651,2019-05-02,20:20:00,A06,2,AVENGERS: H·ªíI K·∫æT,ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,19:50:20
2467,10102052019B0097,emp011,2019-05-02,90000.0,0000029127,20071757,2019-05-02,21:30:00,B14,3,AVENGERS: H·ªíI K·∫æT,ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,20:53:13
2468,10102052019B0097,emp011,2019-05-02,90000.0,0000029127,20071758,2019-05-02,21:30:00,B15,3,AVENGERS: H·ªíI K·∫æT,ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,20:53:13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9564,10131052019B0255,emp011,2019-05-31,180000.0,0000029127,20108849,2019-05-31,23:00:00,D04,2,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,22:39:18
9565,10131052019B0028,emp011,2019-05-31,90000.0,0000029127,20107816,2019-05-31,15:45:00,F12,2,N·ª§ H√îN MA QU√ÅI (C18),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,15:37:55
9566,10131052019B0028,emp011,2019-05-31,90000.0,0000029127,20107817,2019-05-31,15:45:00,F13,2,N·ª§ H√îN MA QU√ÅI (C18),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,15:37:55
9567,10131052019B0031,emp011,2019-05-31,45000.0,0000029127,20107834,2019-05-31,15:45:00,D12,2,N·ª§ H√îN MA QU√ÅI (C18),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,15:42:53
9568,10131052019B0056,emp004,2019-05-31,90000.0,0000029127,20107967,2019-05-31,18:00:00,G07,2,ALADDIN (LT) (G),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,16:48:07

In ra records m√† customerid , slot type , file v√† date

In [289]:
filtered_tickets = tickets[
    (tickets['customerid'] == '0000029127') &
    (tickets['film'] == 'NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18)') &
    (tickets['slot type'] == 'ƒê∆†N') &
    (tickets['saledate'] == '2019-05-26') &
    (tickets['room'] == 4) &
    (tickets['orderid']=='10126052019B0123')
]

# In ra c√°c b·∫£n ghi sau khi l·ªçc
filtered_tickets

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn,saletime
7321,10126052019B0123,emp010,2019-05-26,90000.0,0000029127,20102170,2019-05-26,17:25:00,D12,4,NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18),ƒê∆†N,Th√†nh vi√™n,45000,C√≥,17:15:50
7326,10126052019B0123,emp010,2019-05-26,90000.0,0000029127,20102168,2019-05-26,17:25:00,D10,4,NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18),ƒê∆†N,Th√†nh vi√™n,45000,C√≥,17:15:50
7327,10126052019B0123,emp010,2019-05-26,90000.0,0000029127,20102169,2019-05-26,17:25:00,D11,4,NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18),ƒê∆†N,Th√†nh vi√™n,0,C√≥,17:15:50

=>> D·ª±a v√†o k·∫øt qu·∫£ t√¨m ki·∫øm , ta c√≥ th·ªÉ ch·ªânh l·∫°i ticketprice t·ª´ 0 th√†nh 45 (do gi√° v√© l√† gi√° v√© ƒë∆°n v√† c≈©ng l√† chi·∫øu trong ng√†y th∆∞·ªùng). Vi·ªác ch·ªânh s·ª≠a n√†y c√≥ th·ªÉ d·ª±a v√†o m·ªôt s·ªë y·∫øu t·ªë nh∆∞ l√† lo·∫°i v√© ( slot type ) l√† lo·∫°i v√© ƒê∆°n , ƒë·ªìng th·ªù cashier c≈©ng kh√¥ng ph·∫£i website, ng√†y chi·∫øu c≈©ng kh√¥ng ph·∫£i l√† ng√†y qu·ªëc l·ªÖ

In [290]:
tickets['ticket price'] = tickets['ticket price'].replace(0, 45000)

Ki·ªÉm tra l·∫°i

In [291]:
filtered_tickets = tickets[
    (tickets['customerid'] == '0000029127') &
    (tickets['film'] == 'NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18)') &
    (tickets['slot type'] == 'ƒê∆†N') &
    (tickets['saledate'] == '2019-05-26') &
    (tickets['room'] == 4) &
    (tickets['orderid']=='10126052019B0123')
]

# In ra c√°c b·∫£n ghi sau khi l·ªçc
filtered_tickets

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn,saletime
7321,10126052019B0123,emp010,2019-05-26,90000.0,0000029127,20102170,2019-05-26,17:25:00,D12,4,NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18),ƒê∆†N,Th√†nh vi√™n,45000,C√≥,17:15:50
7326,10126052019B0123,emp010,2019-05-26,90000.0,0000029127,20102168,2019-05-26,17:25:00,D10,4,NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18),ƒê∆†N,Th√†nh vi√™n,45000,C√≥,17:15:50
7327,10126052019B0123,emp010,2019-05-26,90000.0,0000029127,20102169,2019-05-26,17:25:00,D11,4,NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18),ƒê∆†N,Th√†nh vi√™n,45000,C√≥,17:15:50

=>> ƒë√£ ch·ªânh th√†nh c√¥ng , nh·∫≠n ra l√† total c√≥ b·ªã sai s√≥t =>> ph·∫£i x·ª≠ l√Ω c·ªôt total

## L√†m vi·ªác v·ªõi ticketcode

In [292]:
print(tickets["ticketcode"].dtype)

int64

In [293]:
tickets["ticketcode"].isnull().values.any()

False

==>> Kh√¥ng c√≥ null t·∫°i c·ªôt ticketcode

In [294]:
# L·∫•y c√°c gi√° tr·ªã tr√πng l·∫∑p c·ªßa c·ªôt ticketcode 
ticketcode_dupe = tickets['ticketcode'].duplicated(keep=False)

# In ra c√°c gi√° tr·ªã tr√πng l·∫∑p
tickets.loc[ticketcode_dupe].head()

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn,saletime
16817,WEB27,Website,2019-05-15,NaN,0001122882,20088849,2019-05-15,21:40:00,F12,3,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,NaT
23096,12515052019B0048,emp007,2019-05-15,90000.0,0003008604,20088849,2019-05-15,21:40:00,H13,3,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,21:33:51

==>> th√¨ c·ª© theo th·ª© t·ª± v√¨ c√°i customerid 0001122882 ƒë∆∞·ª£c nh·∫≠p tr∆∞·ªõc =>> n√™n l√† ph·∫£i thay ƒë·ªïi c√°i sau

In [295]:
# Thay th·∫ø 'ticketcode' c·ª• th·ªÉ cho 'customerid' v√† 'ticketcode' c·ª• th·ªÉ
tickets.loc[(tickets['customerid'] == '0003008604') & (tickets['ticketcode'] == 20088849), 'ticketcode'] = '20000000'

In [296]:
# Ki·ªÉm tra l·∫°i DataFrame ƒë·ªÉ x√°c nh·∫≠n s·ª± thay ƒë·ªïi
tickets[tickets['customerid'] == '0003008604']

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn,saletime
23095,10006052019B0338,emp007,2019-05-06,90000.0,0003008604,20075611,2019-05-06,22:05:00,H07,2,M·∫∏ MA THAN KH√ìC LA LLORONA (C18),ƒê√îI,Th√†nh vi√™n,90000,Kh√¥ng,21:47:30
23096,12515052019B0048,emp007,2019-05-15,90000.0,0003008604,20000000,2019-05-15,21:40:00,H13,3,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,21:33:51
23097,12515052019B0048,emp007,2019-05-15,90000.0,0003008604,20088850,2019-05-15,21:40:00,H14,3,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,21:33:51
23098,10123052019B0090,emp004,2019-05-23,90000.0,0003008604,20098166,2019-05-23,21:35:00,J10,4,ALADDIN (LT) (G),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,21:15:35
23099,10123052019B0090,emp004,2019-05-23,90000.0,0003008604,20098165,2019-05-23,21:35:00,J09,4,ALADDIN (LT) (G),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,21:15:35
23100,12525052019B0018,emp012,2019-05-25,90000.0,0003008604,20100894,2019-05-25,21:40:00,I08,4,NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,19:55:21
23101,12525052019B0018,emp012,2019-05-25,90000.0,0003008604,20100892,2019-05-25,21:40:00,I07,4,NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,19:55:21

## L√†m vi·ªác v·ªõi c·ªôt saletime

In [297]:
print(tickets["saletime"].dtype)

object

In [298]:
tickets["saletime"].isnull().values.any()

True

=>> C√≥ missing t·∫°i ch·ªó saletime ( l√† tr∆∞·ªùng h·ª£p cashier l√† website)

In [299]:
# G√°n gi√° tr·ªã saletime th√†nh Kh√¥ng x√°c ƒë·ªãnh r√µ 
tickets['saletime'].fillna('Kh√¥ng x√°c ƒë·ªãnh r√µ', inplace=True)

In [300]:
tickets["saletime"].isnull().values.any()

False

In [301]:
salrtime_values = tickets['saletime'].value_counts()
salrtime_values

saletime
Kh√¥ng x√°c ƒë·ªãnh r√µ    96
18:11:38             46
14:14:16             32
13:07:42             28
19:07:58             27
                     ..
22:34:16              1
08:36:25              1
19:44:14              1
19:42:10              1
20:07:02              1
Name: count, Length: 12450, dtype: int64

=>> ƒê√£ x·ª≠ l√Ω missing value th√†nh c√¥ng

## L√†m vi·ªác v·ªõi c·ªôt total

In [302]:
# L·ªçc ra c√°c b·∫£n ghi m√† c·ªôt 'total' mang gi√° tr·ªã null
null_total_records = tickets[tickets['total'].isnull()]

# In ra c√°c b·∫£n ghi ƒë√≥
null_total_records

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn,saletime
23,WEB01,Website,2019-05-25,NaN,0000000228,20100926,2019-05-25,19:45:00,G09,3,ALADDIN (PD) (G),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,Kh√¥ng x√°c ƒë·ªãnh r√µ
24,WEB01,Website,2019-05-25,NaN,0000000228,20100927,2019-05-25,19:45:00,G10,3,ALADDIN (PD) (G),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,Kh√¥ng x√°c ƒë·ªãnh r√µ
580,WEB02,Website,2019-05-18,NaN,0000011318,20092413,2019-05-18,18:40:00,G09,1,POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,Kh√¥ng x√°c ƒë·ªãnh r√µ
581,WEB02,Website,2019-05-18,NaN,0000011318,20092412,2019-05-18,18:40:00,G08,1,POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,Kh√¥ng x√°c ƒë·ªãnh r√µ
582,WEB02,Website,2019-05-18,NaN,0000011318,20092411,2019-05-18,18:40:00,G07,1,POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,Kh√¥ng x√°c ƒë·ªãnh r√µ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23102,WEB43,Website,2019-05-30,NaN,0003008617,20106999,2019-05-30,21:35:00,H09,4,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,Kh√¥ng x√°c ƒë·ªãnh r√µ
23103,WEB43,Website,2019-05-30,NaN,0003008617,20106998,2019-05-30,21:35:00,H08,4,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,Kh√¥ng x√°c ƒë·ªãnh r√µ
23106,WEB42,Website,2019-05-17,NaN,0003008617,20091106,2019-05-17,20:15:00,F14,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,Kh√¥ng x√°c ƒë·ªãnh r√µ
23107,WEB42,Website,2019-05-17,NaN,0003008617,20091105,2019-05-17,20:15:00,F13,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,Kh√¥ng x√°c ƒë·ªãnh r√µ
23108,WEB42,Website,2019-05-17,NaN,0003008617,20091107,2019-05-17,20:15:00,F15,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,Kh√¥ng x√°c ƒë·ªãnh r√µ

In [303]:

# T√≠nh t·ªïng ticket price cho m·ªói s·ª± k·∫øt h·ª£p c·ªßa customerid v√† saledate
grouped = tickets.groupby(['customerid', 'saledate'])['ticket price'].sum()

# C·∫≠p nh·∫≠t gi√° tr·ªã total cho nh·ªØng b·∫£n ghi c√≥ total l√† null
# S·ª≠ d·ª•ng idx ƒë·ªÉ l∆∞u v·ªã tr√≠ c·ªßa c√°c d√≤ng c·∫ßn c·∫≠p nh·∫≠t
idx = tickets['total'].isnull()
# C·∫≠p nh·∫≠t gi√° tr·ªã total s·ª≠ d·ª•ng map tr√™n c√°c d√≤ng ƒë√£ l·ªçc
tickets.loc[idx, 'total'] = tickets[idx].apply(lambda row: grouped.get((row['customerid'], row['saledate'])), axis=1)

In [304]:
tickets[tickets["cashier"] == "Website"]

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn,saletime
23,WEB01,Website,2019-05-25,90000.0,0000000228,20100926,2019-05-25,19:45:00,G09,3,ALADDIN (PD) (G),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,Kh√¥ng x√°c ƒë·ªãnh r√µ
24,WEB01,Website,2019-05-25,90000.0,0000000228,20100927,2019-05-25,19:45:00,G10,3,ALADDIN (PD) (G),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,Kh√¥ng x√°c ƒë·ªãnh r√µ
580,WEB02,Website,2019-05-18,135000.0,0000011318,20092413,2019-05-18,18:40:00,G09,1,POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,Kh√¥ng x√°c ƒë·ªãnh r√µ
581,WEB02,Website,2019-05-18,135000.0,0000011318,20092412,2019-05-18,18:40:00,G08,1,POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,Kh√¥ng x√°c ƒë·ªãnh r√µ
582,WEB02,Website,2019-05-18,135000.0,0000011318,20092411,2019-05-18,18:40:00,G07,1,POK√âMON: TH√ÅM T·ª¨ PIKACHU (C13),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,Kh√¥ng x√°c ƒë·ªãnh r√µ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23102,WEB43,Website,2019-05-30,90000.0,0003008617,20106999,2019-05-30,21:35:00,H09,4,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,Kh√¥ng x√°c ƒë·ªãnh r√µ
23103,WEB43,Website,2019-05-30,90000.0,0003008617,20106998,2019-05-30,21:35:00,H08,4,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,Kh√¥ng x√°c ƒë·ªãnh r√µ
23106,WEB42,Website,2019-05-17,135000.0,0003008617,20091106,2019-05-17,20:15:00,F14,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,Kh√¥ng x√°c ƒë·ªãnh r√µ
23107,WEB42,Website,2019-05-17,135000.0,0003008617,20091105,2019-05-17,20:15:00,F13,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,Kh√¥ng x√°c ƒë·ªãnh r√µ
23108,WEB42,Website,2019-05-17,135000.0,0003008617,20091107,2019-05-17,20:15:00,F15,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Website/Li√™n h·ªá t·∫°i qu·∫ßy,Kh√¥ng x√°c ƒë·ªãnh r√µ

### X·ª≠ l√Ω 3 c·ªôt total b·ªã l·ªói ·ªü ph√≠a tr√™n l√∫c x·ª≠ l√Ω ticket price =0

In [305]:
# L·ªçc c√°c ƒëi·ªÅu ki·ªán
filtered_total = tickets[(tickets['customerid'] == '0000029127') & 
                          (tickets['film'] == 'NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18)') &
                          (tickets['slot type'] == 'ƒê∆†N') & 
                          (tickets['saledate'] == '2019-05-26') &
                          (tickets['room'] == 4) &  
                          (tickets['orderid']=='10126052019B0123')]

# Thay ƒë·ªïi gi√° tr·ªã c·ªôt 'total'                  
filtered_total['total'] = 135000

filtered_total

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_40928\3141983532.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_total['total'] = 135000

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn,saletime
7321,10126052019B0123,emp010,2019-05-26,135000,0000029127,20102170,2019-05-26,17:25:00,D12,4,NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18),ƒê∆†N,Th√†nh vi√™n,45000,C√≥,17:15:50
7326,10126052019B0123,emp010,2019-05-26,135000,0000029127,20102168,2019-05-26,17:25:00,D10,4,NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18),ƒê∆†N,Th√†nh vi√™n,45000,C√≥,17:15:50
7327,10126052019B0123,emp010,2019-05-26,135000,0000029127,20102169,2019-05-26,17:25:00,D11,4,NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18),ƒê∆†N,Th√†nh vi√™n,45000,C√≥,17:15:50

## L√†m vi·ªác v·ªõi c·ªôt Room

In [306]:
print(tickets["room"].dtype)

int64

In [307]:
room=tickets['room'].unique()
print(room)

[3 2 1 4]

In [308]:
tickets["room"].isnull().values.any()

False

In [309]:
room_counts = tickets["room"].value_counts()

print(room_counts)

room
4    9992
2    8822
3    8495
1    8165
Name: count, dtype: int64

=>> C√°c ph√≤ng chi·∫øu c≈©ng c√≥ s·ªë l∆∞·ª£ng ch·ªánh l·ªách , cao nh·∫•t ch√≠nh l√† Ph√≤ng chi·∫øu s·ªë 4 v√† th·∫•p nh·∫•t l√† Ph√≤ng chi·∫øu s·ªë 1

## T·∫°o th√™m c·ªôt m·ªõi =>> C√°ch th·ª©c mua v√© ( Online hay Offline)

In [310]:
# T·∫°o c·ªôt m·ªõi 'C√°ch th·ª©c mua v√©' d·ª±a tr√™n c·ªôt 'saletime'
tickets['C√°ch th·ª©c mua v√©'] = np.where(tickets['saletime'] == 'Kh√¥ng x√°c ƒë·ªãnh r√µ', 'Online', 'Offline')

In [311]:
tickets

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn,saletime,C√°ch th·ª©c mua v√©
0,10006052019B0225,emp002,2019-05-06,90000.0,0000000014,20074925,2019-05-06,18:15:00,G04,3,AVENGERS: H·ªíI K·∫æT,ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,16:40:43,Offline
1,10006052019B0225,emp002,2019-05-06,90000.0,0000000014,20074924,2019-05-06,18:15:00,G03,3,AVENGERS: H·ªíI K·∫æT,ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,16:40:43,Offline
2,10022052019B0167,emp011,2019-05-22,90000.0,0000000034,20097042,2019-05-22,20:45:00,E04,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,20:30:28,Offline
3,10022052019B0167,emp011,2019-05-22,90000.0,0000000034,20097041,2019-05-22,20:45:00,E03,2,JOHN WICK 3: CHU·∫®N B·ªä CHI·∫æN TRANH (C18),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,20:30:28,Offline
4,10130052019B0141,emp005,2019-05-30,90000.0,0000000034,20106761,2019-05-30,19:30:00,F04,1,NG√îI ƒê·ªÄN K·ª≤ QU√ÅI (C18),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,19:28:44,Offline
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35469,10130052019B0192,emp005,2019-05-30,180000.0,WEBS00000044909,20107072,2019-05-30,21:35:00,B10,4,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,21:49:46,Offline
35470,10130052019B0192,emp005,2019-05-30,180000.0,WEBS00000044909,20107071,2019-05-30,21:35:00,B09,4,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,21:49:46,Offline
35471,10130052019B0192,emp005,2019-05-30,180000.0,WEBS00000044909,20107069,2019-05-30,21:35:00,B07,4,CH√öA T·ªÇ GODZILLA: ƒê·∫æ V∆Ø∆†NG B·∫§T T·ª¨ (C13),ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,21:49:46,Offline
35472,12508052019B0036,emp007,2019-05-08,90000.0,WEBS00000046015,20077797,2019-05-08,19:15:00,C14,4,AVENGERS: H·ªíI K·∫æT,ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,19:26:47,Offline
35473,12508052019B0036,emp007,2019-05-08,90000.0,WEBS00000046015,20077796,2019-05-08,19:15:00,C13,4,AVENGERS: H·ªíI K·∫æT,ƒê∆†N,Th√†nh vi√™n,45000,Kh√¥ng,19:26:47,Offline

## Check missing value l·∫ßn cu·ªëi

In [312]:
tickets.isnull().any()

orderid             False
cashier             False
saledate            False
total               False
customerid          False
ticketcode          False
date                False
time                False
slot                False
room                False
film                False
slot type           False
ticket type         False
ticket price        False
popcorn             False
saletime            False
C√°ch th·ª©c mua v√©    False
dtype: bool

# ƒê√£ ho√†n to√†n kh√¥ng c√≤n missing value. M·ªôt s·ªë l∆∞u √Ω sau khi ph√¢n t√≠ch v·ªÅ tickets :
    -- Orderid s·∫Ω b·ªã missing value t·∫°i tr∆∞·ªùng h·ª£p cashier mang gi√° tr·ªã website , t∆∞∆°ng t·ª± v·ªõi popcorn , total v√† saledate =>> N√™n c√¢n nh·∫Øc v·ªÅ tr∆∞·ªùng h·ª£p n√†y, tuy nhi√™n trong tr∆∞·ªùng h·ª£p n√†y th√¨ nh√≥m s·∫Ω l·∫°i ƒë·∫∑t l·∫°i orderid
    -- T∆∞∆°ng t·ª± v·ªõi total v√† saledate , nh√≥m c≈©ng ƒë√£ x·ª≠ l√Ω ph√π h·ª£p v·ªõi m·ªôt s·ªë b·∫•t th∆∞·ªùng v√† missing value
    -- V·ªõi ticket code , nh√≥m ƒë√£ th·ª±c hi·ªán vi·ªác ƒë∆∞a ra ƒë∆∞·ª£c nh·∫≠n x√©t v·ªÅ s·ª± kh√°c bi·ªát gi·ªØa 4 m·ª©c gi√° v√† ƒë√£ x·ª≠ l√Ω th√†nh c√¥ng m·ª©c gi√° b·ªã sai
    -- V·ªõi c·ªôt popcorn , nh√≥m ƒë√£ ho√†n th√†nh x·ª≠ l√Ω missing value v√† c≈©ng ƒë∆∞a ra ƒë∆∞·ª£c nh·∫≠n x√©t rƒÉng popcorn kh√¥ng h·ªÅ ·∫£nh h∆∞·ªüng ƒë·∫øn doanh thu c·ªßa r·∫°p d·ª±a v√†o b·ªô d·ªØ li·ªáu ƒë√£ cung c·∫•p ( t·ª©c l√† total s·∫Ω d·ª±a v√†o ticket price)
    -- V·ªõi ticket code , nh√≥m ƒë√£ th·ª±c hi·ªán vi·ªác x·ª≠ l√Ω b·∫•t th∆∞·ªùng c·ªßa ticket code ( c·ª• th·ªÉ ·ªü ƒë√¢y l√† ticket code b·ªã tr√πng )

## Xu·∫•t ra file excel

In [313]:
tickets.to_excel("Tickets.xlsx")